---
import PageLayout from '@layouts/PageLayout.astro';
import { getCollection, CollectionEntry } from 'astro:content';
let docs = await getCollection('docs');
let usageDocs: CollectionEntry<'docs'>[] = [];
let developmentDocs: CollectionEntry<'docs'>[] = [];

docs = docs.filter((doc) => {
    return doc.slug.split('/').length === 2;
});
docs.map((doc) => {
    if (doc.slug.startsWith('usage/')) {
        usageDocs.push(doc);
    }
    if (doc.slug.startsWith('development/')) {
        developmentDocs.push(doc);
    }
});
---

<PageLayout
    title="Docs"
    subtitle="Here you can find all documentation on how to use nf-core pipelines, and nf-core tools to start processing your data. You will also find information on how to contribute to nf-core pipelines, modules and subworkflows."
>
    This section contains the following subsections:

    <h2>Usage</h2>
    <ul>
        {
            // nested list based on the depth of the docs.slug
            usageDocs.map((doc) => {
                return (
                    <li>
                        <a href={'/docs/' + doc.slug}>{doc.data.title}</a>
                    </li>
                );
            })
        }
    </ul>
    <h2>Contributing</h2>
    <ul>
        {
            developmentDocs.map((doc) => {
                return (
                    <li>
                        <a href={'/docs/' + doc.slug}>{doc.data.title}</a>
                    </li>
                );
            })
        }
    </ul>
</PageLayout>
