[functions]
external_node_modules = ["vscode-oniguruma","shiki"]
node_bundler = "esbuild"
[build]
environment = { NODE_VERSION = "20.19.0" }
command = "npm run build -w sites/configs"
ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF sites/main-site/src/components sites/main-site/src/layouts sites/configs public/pipelines.json"
[[headers]]
for = "/_astro/*"
[headers.values]
Access-Control-Allow-Origin = "*"
