---
import MarkdownTocLayout from '@layouts/MarkdownTocLayout.astro';
import { getCollection } from 'astro:content';

const tools = await getCollection('tools');

// filter out headings that are higher than max_heading_depth
// headings = headings.filter((h) => h.depth <= max_heading_depth);
const md_github_url = 'https://github.com/nf-core/tools/blob/master/README.md';
---

<MarkdownTocLayout
    title={''}
    subtitle={''}
    headings={[]}
    left_sidebar={true}
    sections={[
        {
            section_name: 'Tools',
            children: [
                { title: 'Introduction', slug: '/tools/', order: 1 },
                { title: 'API', slug: './', order: 2 },
            ],
        },
    ]}
>
    <ul>
        {
            tools &&
                tools.map((api) => (
                    <li>
                        <a href={api.slug + '/'}>{api.id.replace('.md')}</a>
                    </li>
                ))
        }
    </ul>
</MarkdownTocLayout>
