---
import { Icon } from "astro-icon/components";
import NfCoreLogoDarkbg from "../assets/images/logo/nf-core-logo-darkbg.svg";
import NfCoreLogo from "../assets/images/logo/nf-core-logo.svg";
import ContributorCarousel from "@components/ContributorCarousel.svelte";
import EventBanner from "@components/event/EventBanner.astro";
import HomepageCard from "@components/homepage/HomepageCard.astro";
import HomepageVideosEvents from "@components/homepage/HomepageVideosEvents.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Code } from "astro/components";
import AnnouncementBanner from "@components/navbar/AnnouncementBanner.astro";
---

<BaseLayout>
    <div class="homepage-header">
        <AnnouncementBanner />
        <EventBanner />
        <div class="homepage-header-contents col-md-5">
            <h1>
                <div class="hide-dark">
                    <NfCoreLogo />
                </div>
                <div class="hide-light">
                    <NfCoreLogoDarkbg />
                </div>
            </h1>
            <p class="lead font-weight-normal">
                A global community collaborating to build open-source Nextflow components and pipelines
            </p>
            <div class="homepage-cta-flex mb-5">
                <a class="homepage-cta text-decoration-none" href="/pipelines/">View Pipelines</a>
            </div>
        </div>
    </div>

    <div class="triangle-up text-bg-success"></div>
    <div class="homepage-intro text-bg-success">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 col-xl-3 py-3 py-md-5 px-md-4">
                    <Icon name="industry-alt" class="text-white" height={80} width={110} />
                    <h3 class="text-white">For organisations</h3>
                    <p class="lead">
                        Highly optimised pipelines with excellent reporting. Validated releases ensure reproducibility.
                    </p>
                </div>
                <div class="col-md-4 col-xl-3 py-3 py-md-5 px-md-4">
                    <Icon name="users" class="text-white" height={80} width={110} />

                    <h3 class="text-white">For users</h3>
                    <p class="lead">
                        Portable, documented and easy&nbsp;to&nbsp;use workflows.<br />Pipelines that you can trust.
                    </p>
                </div>
                <div class="col-md-4 col-xl-3 py-3 py-md-5 px-md-4">
                    <Icon name="laptop-code" class="text-white" height={80} width={110} />
                    <h3 class="text-white">For developers</h3>
                    <p class="lead">
                        Companion templates and tools help to validate your code and simplify common tasks.
                    </p>
                </div>
            </div>
            <div>
                <p class="d-flex position-relative justify-content-center text-white m-0 pb-3">
                    <Icon name="logos/nature_biotech" class="float-start me-3" height={60} width={60} />
                    <a
                        class="text-white stretched-link text-decoration-none d-flex flex-column justify-content-center"
                        href="https://doi.org/10.1038/s41587-020-0439-x"
                        target="_blank"
                    >
                        nf-core is published in Nature Biotechnology!
                        <span class="underline m-auto"
                            ><em>Nat Biotechnol</em>
                            <strong> 38</strong>, 276-278 (2020).
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="triangle-down bg-success"></div>
    <div class="container py-5 text-center lead" id="features">
        <p>Nextflow is an incredibly powerful and flexible workflow language.</p>
        <p><strong>nf-core</strong> pipelines adhere to strict guidelines - if one works, they all will.</p>
    </div>

    <div id="features" class="container homepage-feature-boxes pb-5">
        <h3 class="mb-4 text-center">Fully featured pipelines</h3>
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
            <div class="col">
                <HomepageCard title="Documentation" icon="mdi:book-information-variant" icon_class="text-secondary">
                    Extensive documentation covering installation, usage and description of output files ensures that
                    you won't be left in the dark.
                </HomepageCard>
            </div>
            <div class="col">
                <HomepageCard title="Stable Releases" icon="mdi:timeline-check-outline" icon_class="text-secondary">
                    nf-core pipelines use GitHub releases to tag stable versions of the code and software. Pipelines are
                    exceptionally well tested and easy to run.
                </HomepageCard>
            </div>
            <div class="col">
                <HomepageCard
                    title="Open source"
                    name="opensource"
                    icon="ri:open-source-line"
                    icon_class="text-secondary"
                >
                    All nf-core code is licensed under the MIT license and is available on GitHub. Pipelines can be
                    used, modified, and forked - by anyone.
                </HomepageCard>
            </div>

            <div class="col">
                <HomepageCard title="CI Testing" icon="mdi:progress-check" icon_class="text-secondary">
                    Every time a change is made to the pipeline code, nf-core pipelines use continuous-integration
                    testing to ensure that nothing has broken.
                </HomepageCard>
            </div>
            <div class="col">
                <HomepageCard title="Run anywhere" icon="mdi:cloud-outline" icon_class="text-secondary">
                    Pipelines are ultra-portable and run on most laptops, HPCs and clouds. Tests run on AWS after every
                    release: you can browse results on the website and use for your own benchmarking.
                </HomepageCard>
            </div>
            <div class="col">
                <HomepageCard title="Packaged software" icon="mdi:package-variant" icon_class="text-secondary">
                    Pipeline dependencies are automatically downloaded and handled using Docker, Singularity, Conda or
                    others. No need for any software installations.
                </HomepageCard>
            </div>
        </div>
    </div>

    <div class="container pb-5 text-center lead" id="features">
        <p class="mb-0">All nf-core code is <strong>community owned</strong>.</p>
        <p>Everyone is welcome to use, contribute to, and help maintain nf-core.</p>
    </div>

    <div class="bg-body-tertiary pt-4 pb-5">
        <div id="developers" class="container homepage-feature-boxes">
            <h3 class="mb-2 text-center">How to get involved</h3>
            <div class="container pb-2 text-center lead" id="features">
                <p class="mb-0"><strong>Everyone is welcome</strong> to contribute, in any way!</p>
                <p>
                    Contribute ideas and code directly via <a href="https://github.com/nf-core/" target="_blank"
                        >GitHub</a
                    >, or come <a href="/join/">talk to us in Slack</a>.
                </p>
            </div>
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
                <div class="col">
                    <HomepageCard
                        title="Start small or go big"
                        icon="octicon:git-pull-request-16"
                        icon_class="text-secondary"
                        btn_txt="Get started"
                        btn_href="/docs/usage/getting_started/introduction"
                    >
                        You start wherever you like: Typo fixes in docs? No module for your favourite tool? Missing a
                        pipeline? We are looking for all types of contributions!
                    </HomepageCard>
                </div>
                <div class="col">
                    <HomepageCard
                        title="Develop with the community"
                        fontawesome="fa-duotone fa-people-carry text-secondary"
                        btn_txt="Join Slack"
                        btn_href="join/"
                    >
                        Join forces with others! We promote collaboration over duplication: before you start coding,
                        please propose your idea in Slack.
                    </HomepageCard>
                </div>
                <div class="col">
                    <HomepageCard
                        title="Start from the template"
                        fontawesome="fa-solid fa-wand-magic-sparkles text-secondary"
                        btn_txt="Read the docs"
                        btn_href="/docs/tutorials/adding_a_pipeline/overview"
                    >
                        Pipelines, modules and subworkflows are based on a template, created using
                        <a href="/docs/nf-core-tools"><code>nf-core</code> tools</a>. An automated sync keeps pipelines
                        up to date.
                    </HomepageCard>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-body-secondary py-5">
        <HomepageVideosEvents />
    </div>

    <div class="bg-dark py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 id="get-started" class="text-white">Get started in minutes</h2>
                    <div class="text-white-50">
                        <p>Nextflow lets you run nf-core pipelines on virtually any computing environment.</p>
                        <p>
                            The nf-core companion tool makes it easy to list all available nf-core pipelines and shows
                            which are available locally. Local versions are checked against the latest available
                            release.
                        </p>
                        <p>
                            The nf-core companion tool also provides a range of helper functions to make it easier to
                            work with nf-core pipelines, such as downloading pipelines for offline use, an interactive
                            command-line launch wizard and helper functions to generate commented config file templates
                            for any pipeline.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card border-secondary rounded-0">
                        <div class="card-body bg-dark p-0" id="homepage-code-example">
                            <Code
                                lang="bash"
                                theme="github-dark-dimmed"
                                code={`# Install nextflow
curl -s https://get.nextflow.io | bash
mv nextflow ~/bin/

# Launch the RNAseq pipeline
nextflow run nf-core/rnaseq \\
    --input samplesheet.csv \\
    --output ./results/ \\
    --genome GRCh37 \\
    -profile docker

# Install nf-core tools
pip install nf-core

# List all nf-core pipelines and show available updates
nf-core pipelines list`}
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-body-secondary py-5">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 px-md-5 mb-5 mb-md-0">
                    <h3>See what's available</h3>
                    <p>
                        Check out the available pipelines to see if we have what you need. Each comes with release
                        details, keywords and a description.
                    </p>
                    <a class="btn btn-lg btn-success arrow-hover" href="/pipelines/"
                        ><span><i class="fas fa-toolbox me-1"></i> Available pipelines</span>
                    </a>
                </div>
                <div class="col-md-4 px-md-5 mb-5 mb-md-0">
                    <h3>Run a pipeline</h3>
                    <p>
                        Read the quickstart tutorial to learn how to get set up with the required software and tools,
                        and how to launch a nf-core pipeline.
                    </p>
                    <a class="btn btn-lg btn-success arrow-hover" href="/docs/usage/getting_started/introduction/"
                        ><span><i class="fa-duotone fa-graduation-cap me-1"></i> Quickstart Tutorial</span>
                    </a>
                </div>
                <div class="col-md-4 px-md-5 mb-5 mb-md-0">
                    <h3>Get into the code</h3>
                    <p>
                        If you're interested in contributing to nf-core, take a look at the developer documentation to
                        see what's required.
                    </p>
                    <a class="btn btn-lg btn-success arrow-hover" href="/docs/tutorials/adding_a_pipeline/overview"
                        ><span><i class="fa-duotone fa-code me-1"></i> Developer docs</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <ContributorCarousel client:idle />

    <style lang="scss">
        @import "@styles/_variables.scss";
        .homepage-header .homepage-header-contents {
            margin: 4rem auto 0;
            padding: 0;
            text-align: center;
        }
        .homepage-header-fa-background {
            position: absolute;
            top: 10px;
            left: 30px;
            font-size: 16em;
            opacity: 0.2;
        }

        /* Fancy call to action button on homepage
Based on https://codepen.io/wintr/pen/beBJBb */
        .homepage-cta-flex {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
        }
        .homepage-cta {
            width: 100px;
            height: 100px;
            line-height: 20px;
            padding: 30px 0;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: relative;
            transition: 0.3s all ease;
            font-size: 14px;
            color: $nf-core-color;
            font-weight: bold;
            z-index: 0;

            &:after {
                transition: 0.3s all ease;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                border-radius: 3px;
                border: 2px solid $nf-core-color;
            }
            &:before {
                content: "";
                position: absolute;
                border-radius: 3px;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                background: $gray-500;
                opacity: 0.15;
                z-index: -1;
                transition: 0.3s all ease;
            }
            &:hover,
            &:focus {
                color: $nf-core-color;
                text-decoration: none;
            }
            &:hover:after,
            &:focus:after {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:active {
                -webkit-transform: scale(1);
                transform: scale(1);
                color: $body-bg;
            }
            &:active:before {
                background-color: $nf-core-color;
            }
            &:active:after {
                border-color: $nf-core-color;
            }
        }

        .homepage-intro {
            .container .row div {
                text-align: center;
            }
        }
        #homepage-code-example {
            & :global(pre) {
                padding: 1rem;
                margin: 0;
            }
        }
        .icon-lg :global(svg) {
            height: 60pt;
            width: 60pt;
            fill: $white;
        }
        .mb-3 :global(svg) {
            padding-bottom: 0.35rem;
        }
        .mb-1 :global(svg) {
            padding-bottom: 0.25rem;
        }

        svg.text-white {
            fill: $white;
            :global(.fa-secondary) {
                opacity: 0.4;
            }
        }
        svg[data-icon="users"] {
            margin-bottom: 0.25rem;
        }
        svg[data-icon="industry-alt"] {
            margin-bottom: 0.35rem;
        }
        svg[data-icon="laptop-code"] {
            margin-bottom: 0.55rem;
        }
    </style>
</BaseLayout>
