---
import MarkdownTocLayout from "@layouts/MarkdownTocLayout.astro";
import { Icon } from "astro-icon/components";

const title = "Join nf-core";
const subtitle = "Read about the different ways you can get involved with nf-core";
const headings = [
    {
        text: "Slack",
        slug: "slack",
        depth: 1,
        fa_icon: "fa-brands fa-slack",
    },
    {
        text: "GitHub organisation",
        slug: "github",
        depth: 1,
        fa_icon: "fa-brands fa-github",
    },
    {
        text: "Mastodon",
        slug: "mastodon",
        depth: 1,
        fa_icon: "fa-brands fa-mastodon",
    },
    {
        text: "Bluesky",
        slug: "bluesky",
        depth: 1,
        fa_icon: "fa-regular fa-cloud",
    },
    {
        text: "LinkedIn",
        slug: "linkedin",
        depth: 1,
        fa_icon: "fa-brands fa-linkedin",
    },
    {
        text: "YouTube",
        slug: "youtube",
        depth: 1,
        fa_icon: "fa-brands fa-youtube",
    },
    {
        text: "WorkAdventure",
        slug: "workadventure",
        depth: 1,
        fa_icon: "fa-regular fa-mug-hot",
    },
];
---

<MarkdownTocLayout title={title} subtitle={subtitle} headings={headings} md_github_url="">
    <p>We use a few different tools to organise the nf-core community - you are welcome to join us at any or all!</p>
    <p class="text-center">
        <a href="/join/slack" class="mb-2 me-3 btn btn-lg btn-dark" style="background-color: #611f69;">
            <i class="fab fa-slack"></i> Slack
        </a>
        <a href="https://github.com/nf-core" class="mb-2 me-3 btn btn-lg btn-dark border-white">
            <i class="fab fa-github"></i> GitHub
        </a>
        <a
            href="https://mstdn.science/@nf_core"
            class="mb-2 me-3 btn btn-lg btn-dark border-0"
            style="background-color: #6364ff;"
        >
            <i class="fab fa-mastodon"></i> mastodon
        </a>
        <a
            href="https://bsky.app/profile/nf-co.re"
            class="mb-2 me-3 btn btn-lg btn-dark"
            style="background-color: #1185fe;"
        >
            <Icon name="simple-icons:bluesky" />
            Bluesky
        </a>
        <a
            href="https://www.linkedin.com/company/nf-core"
            class="mb-2 me-3 btn btn-lg btn-dark"
            style="background-color: #0077B5;"
        >
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a
            href="https://www.youtube.com/@nf-core"
            class="mb-2 me-3 btn btn-lg btn-danger"
            style="background-color: #EA3C1E;"
        >
            <i class="fab fa-youtube"></i> YouTube
        </a>
    </p>

    <p class="text-info small">
        <i class="fas fa-exclamation-triangle me-1"></i>
        All nf-core community members are expected to adhere to the nf-core <a
            href="/code_of_conduct/"
            class="text-info link-underline">code of conduct</a
        >
    </p>
    <div class="alert alert-info text-center">
        <Icon name="logos/nextflow_icon_color" size={30} class="text-success me-3" />
        If your question is about Nextflow and not directly related to nf-core, please post on the <a
            href="https://community.seqera.io/"
            target="_blank">Nextflow Community Forum</a
        > instead.
    </div>

    <h1 id="slack" class="mt-5">
        <span class="join-pull-img bg-body"><Icon name="logos:slack-icon" size="120px" /></span>
        Slack
        <a href="#slack" class="header-link"><span class="fas fa-link" aria-hidden="true"></span></a>
    </h1>
    <p class="text-info small">
        <i class="fas fa-question-circle me-1"></i>If you would like help with running nf-core pipelines, Slack is the
        best place to start.
    </p>
    <p>
        Slack is a real-time messaging tool, with discussion split into channels and groups. We use it to provide help
        to people running nf-core pipelines, as well as discussing development ideas.
    </p>
    <p>
        Once you have registered, you can access the nf-core slack at <a href="https://nfcore.slack.com/"
            >https://nfcore.slack.com/</a
        >
        <em class="small text-muted">(NB: No hyphen!)</em>
    </p>
    <p>
        <a class="btn btn-success me-2" href="/join/slack"
            ><i class="fab fa-slack"></i> Get an invite to nf-core Slack</a
        >
    </p>
    <div class="alert alert-secondary text-center small">
        If the invite link doesn't work, please email us at
        <a href="mailto:core@nf-co.re">core@nf-co.re</a> so that we can update it. Thanks!
    </div>

    <h1 id="github" class="mt-5">
        <span class="join-pull-img bg-body"><Icon name="fa-brands:github" class="text-body" size="120px" /></span>
        GitHub organisation
        <a href="#github" class="header-link"><span class="fas fa-link" aria-hidden="true"></span></a>
    </h1>
    <p class="text-info small">
        <i class="fas fa-bug me-1"></i>
        If you encounter a bug or have a suggestion, please create an issue on the repository for that pipeline.
    </p>
    <p>
        We use GitHub to manage all of the code written for nf-core. It's a fantastic platform and provides a huge
        number of tools. We have a GitHub organisation called <a href="https://github.com/nf-core/">nf-core</a> which we use
        to give access to collaborators for editing and reviewing code.
    </p>
    <p>
        To join the GitHub organisation, please introduce yourself and what you want to work on in nf-core on the <a
            href="https://nfcore.slack.com/channels/github-invitations"
            ><code>#github-invitations</code> Slack channel</a
        > and we'll send an invite.
    </p>

    <p>
        <a href="https://github.com/nf-core" class="mb-2 btn btn-dark border-white">
            <i class="fab fa-github me-1"></i> nf-core on GitHub
        </a>
    </p>

    <h1 id="mastodon" class="mt-5">
        <span class="join-pull-img bg-body"><Icon name="logos:mastodon-icon" size="120px" /></span>
        Mastodon
        <a href="#mastodon" class="header-link"><span class="fas fa-link" aria-hidden="true"></span></a>
    </h1>
    <p>
        Our mastodon account <a rel="me" href="https://mstdn.science/@nf_core">@nf_core@mstdn.science</a> toots about pipeline
        releases and engages with the Mastodon Nextflow / open-science community.
    </p>
    <p>Feel free to follow if you use Mastodon, whatever server you're using!</p>

    <h1 id="bluesky" class="mt-5">
        <span class="join-pull-img bg-body"><Icon name="simple-icons:bluesky" color="#1185fe" size="120px" /></span>
        Bluesky
        <a href="#blueksy" class="header-link"><span class="fas fa-link" aria-hidden="true"></span></a>
    </h1>
    <p>
        Follow <a href="https://bsky.app/profile/nf-co.re">@nf-co.re</a> on Bluesky to discover new pipeline releases and
        upcoming events.
    </p>
    <a href="https://bsky.app/profile/nf-co.re" class="btn btn-dark border-0" style="background-color: #1185fe;">
        <Icon name="simple-icons:bluesky" /> Follow @nf-co.re</a
    >

    <h1 id="linkedin" class="mt-5">
        <span class="join-pull-img bg-body"><Icon name="logos:linkedin" size="120px" /></span>
        LinkedIn
        <a href="#linkedin" class="header-link"><span class="fas fa-link" aria-hidden="true"></span></a>
    </h1>
    <p>
        Follow <a href="https://www.linkedin.com/company/nf-core">nf-core</a> on LinkedIn to keep up to date with what's new
        in the community.
    </p>
    <a href="https://www.linkedin.com/company/nf-core" class="btn btn-dark border-0" style="background-color: #0077B5;">
        <i class="fab fa-linkedin me-1"></i>Follow nf-core</a
    >

    <h1 id="youtube" class="mt-5">
        <span class="join-pull-img bg-body"><Icon name="logos:youtube-icon" class="text-body" size="120px" /></span>
        YouTube
        <a href="#youtube" class="header-link"><span class="fas fa-link" aria-hidden="true"></span></a>
    </h1>
    <p>
        The <a href="https://www.youtube.com/@nf-core">nf-core</a> YouTube channel is used for tutorial videos and has a playlist
        to collect recordings of presentations about nf-core from across the web. See <a
            href="https://www.youtube.com/@nf-core">https://www.youtube.com/@nf-core</a
        >
    </p>
    <script src="https://apis.google.com/js/platform.js"></script>
    <div class="g-ytsubscribe" data-channelid="UCfdY8g6eA6IuYZ8oyyNsabQ" data-layout="full" data-count="default"></div>

    <h1 id="workadventure" class="mt-5">
        <span class="join-pull-img bg-body">
            <Icon name="workadventure" alt="WorkAdventu.re logo" height="120px" width="120px" />
        </span>
        WorkAdventure
        <a href="
                #workadventure" class="header-link"
            ><span class="fas fa-link" aria-hidden="true"></span></a
        >
    </h1>
    <p>
        nf-core has a virtual meeting workspace on <a href="https://play.workadventu.re/@/nf-core/nf-core/office"
            >WorkAdventure</a
        > for collaboration. The space is always open, but usage requires adherence to the <a
            href="https://nf-co.re/code_of_conduct">nf-core code of conduct</a
        >
    </p>
</MarkdownTocLayout>
<style lang="scss">
    @import "@styles/_variables.scss";
    .icon-sm {
        max-width: 1.5rem;
    }
    .join-pull-img {
        float: right;
        padding-left: 1.5rem;
    }
    :global([data-icon="workadventure"]) {
        color: #1b2a41;
    }
    :global([data-bs-theme="dark"]) :global([data-icon="workadventure"]) {
        color: var(--bs-body-color);
    }
</style>
