---
import PageLayout from "@layouts/PageLayout.astro";
import HexStickerGallery from "../components/HexStickerGallery.astro";
import { getCollection } from 'astro:content';

// Get stickers from the content collection and map to the expected format
let stickersCollection = await getCollection('stickers');
// make stickers unique based on id without light or dark theme suffixes
stickersCollection = stickersCollection.filter((sticker, index, self) =>
    index === self.findIndex((t) => t.id.replace("-light","").replace("-dark","") === sticker.id.replace("-light","").replace("-dark",""))
);

// SEO metadata
const pageTitle = "nf-core Stickers";
const pageDescription = "Browse our collection of hex stickers organized by category.";
---

<PageLayout
    title={pageTitle}
    subtitle="Browse our collection of hex stickers organized by category."
>
    <main class="container py-5">
        <div class="row">
            <div class="col-12">
                <HexStickerGallery stickers={stickersCollection} />
            </div>
        </div>
    </main>
</PageLayout>
