---
const { videos } = Astro.props;
---

<div class="container">
    <div class="row videos-row">
        <div class="col-lg-6">
            <div class="ratio ratio-16x9 hidden-xs hidden-sm">
                <iframe
                    id="nf-core-video"
                    src={'https://www.youtube.com/embed/' + videos[0][0]}
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6">
            <ul class="list-switch left video-chooser">
                {
                    videos.map((video, idx) => (
                        <li>
                            <a
                                href={'https://youtu.be/' + video[0]}
                                data-src={'https://www.youtube.com/embed/' + video[0]}
                                class={'bg-body-tertiary text-body-tertiary ' + (idx == 0 && 'active')}
                            >
                                {video[1]} <em>({video[2]})</em>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</div>

<script>
    // Homepage video switcher
    function isVisible(e) {
        return !!(e.offsetWidth || e.offsetHeight || e.getClientRects().length);
    }
    Array.from(document.querySelectorAll('.video-chooser a')).forEach((e) =>
        e.addEventListener('click', function (e) {
            if (isVisible(document.getElementById('nf-core-video'))) {
                e.preventDefault();
                Array.from(document.querySelectorAll('.video-chooser a')).forEach((el) =>
                    el.classList.remove('active')
                );
                this.classList.add('active');
                document.getElementById('nf-core-video').src = this.dataset.src;
            }
        })
    );
</script>

<style lang="scss">
    @import '@styles/_variables.scss';
    .list-switch {
        li {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        a {
            display: block;
            padding: 10px 15px;
            margin: 0;
            border-bottom: 1px solid $body-tertiary-color;
            text-decoration: none;
            position: relative;
            height: 42px;
            transition: background 0.1s;
            .label {
                margin-right: 10px;
            }
            &:hover,
            &:active,
            &:focus {
                color: $gray-300 !important;
                background-color: $gray-700 !important;
            }
        }
        li:first-child a {
            border-top: 1px solid $body-tertiary-color;
        }

        @include media-breakpoint-up(lg) {
            a.active:before {
                content: '';
                display: block;
                border: 21px solid transparent;
                position: absolute;
                top: 50%;
                margin-top: -21px;
                -webkit-transition: border 0.1s;
                transition: border 0.1s;
            }
            &.left {
                a {
                    margin-left: 21px;
                }
                a.active:before {
                    border-right-color: $body-tertiary-color;
                    left: -42px;
                }
                a:hover:before,
                a:active:before,
                a:focus:before {
                    border-right-color: $gray-700 !important;
                }
            }
            &.right {
                a {
                    margin-right: 21px;
                }
                a.active:before {
                    border-left-color: $gray-800 !important;
                    right: -42px;
                }

                a:hover:before,
                a:active:before,
                a:focus:before {
                    border-left-color: $gray-700 !important;
                }
            }
        }
    }
</style>
