---
import { YouTube } from '@astro-community/astro-embed-youtube';
import FuzzySearch from '@components/FuzzySearch.svelte';
import { getCollection } from 'astro:content';

const events = await getCollection('events');
const Bytesizes = events.filter((event) => event.data.title.startsWith('Bytesize'));
// let latestBytesize = Bytesizes.reverse().find((event) => event.data.location_url?.find("youtu")).data.location_url;
let latestBytesize = '';

let lastYoutubeUrls = Bytesizes.slice()
    .reverse()
    .find((Bytesize) => {
        let urls = Bytesize.data.location_url;
        if (typeof urls === 'string') {
            urls = [urls];
        }

        return urls.find((url) => url.startsWith('https://www.youtube.com') || url.startsWith('https://youtu.be'));
    });

lastYoutubeUrls = lastYoutubeUrls?.data.location_url.find(
    (url) => url.startsWith('https://www.youtube.com') || url.startsWith('https://youtu.be')
);

// latestBytesize = latestBytesize?.filter((v) => v.includes('youtube.com') || v.includes('youtu.be'))[0];
latestBytesize = lastYoutubeUrls?.replace('https://www.youtube.com/watch?v=', '').replace('https://youtu.be/', '');
const BytesizeSearch = Bytesizes.map((bs) => {
    return { href: '/events/' + bs.slug + '/', name: bs.data.title };
});
---

<div class="container">
    <div class="row videos-row">
        <div class="col-lg-6" id="nf-core-video">
            <h2>Introduction to nf-core</h2>
            <YouTube id="gUM9acK25tQ" poster={`https://img.youtube.com/vi/gUM9acK25tQ/maxresdefault.jpg`} />
        </div>

        <div class="col-lg-6">
            <h2>Latest nf-core/bytesize video</h2>

            <YouTube id={latestBytesize} poster={`https://img.youtube.com/vi/${latestBytesize}/hqdefault.jpg`} />

            <div class="row row-cols-2 mt-3">
                <div class="col">
                    <h3 class="">nf-core/bytesize</h3>
                    <p class="lead">
                        Our weekly series of short talks. Around 15 minutes + questions, focussing on topics about using
                        and developing nf-core pipelines.
                    </p>
                </div>
                <div class="col">
                    <h3 class="">More bytesize videos</h3>
                    <FuzzySearch possibleResults={BytesizeSearch} client:load />
                </div>
            </div>
        </div>
    </div>

    <style lang="scss"></style>
</div>
