---
import PageLayout from '@layouts/PageLayout.astro';
import { getCollection, CollectionEntry } from 'astro:content';
import SidebarNav from '@components/sidebar/SidebarNav.astro';

let tools = await getCollection('tools');
// sort tools by section and weight
tools = tools.sort((a, b) => {
    if (a.data.section === b.data.section) {
        return a.data.weight - b.data.weight;
    }
    return a.data.section - b.data.section;
});

let sections: {
    section_name: string;
    children: {
        title: string;
        slug: string;
        order?: number;
    }[];
}[] = [
    { section_name: 'General', children: [] },
    { section_name: 'Pipelines', children: [] },
    { section_name: 'Modules', children: [] },
    { section_name: 'Subworkflows', children: [] },
];

// loop over tools and create sections
tools.forEach((tool) => {
    // add tool to section with same section_name
    let section = sections.find((section) => section.section_name.toLowerCase() === tool.data.section.toLowerCase());
    section.children.push({
        title: tool.data.title,
        slug: tool.slug,
        order: tool.data.weight,
    });
});
---

<PageLayout title="nf-core/tools" subtitle="The nf-core companion tool, to help with common tasks.">
    <div class="row">
        <div class="col-12 col-md-2 sticky-top-under d-none d-md-inline sidebar-left">
            <SidebarNav items={sections} />
        </div>

        <div class="col-12 col-md-10">
            <p>Here you can find all documentation on how to use nf-core tools.</p>
        </div>
    </div>
</PageLayout>
<style>
    .btn[aria-expanded='true'] {
        transform: rotate(180deg);
    }
</style>
