src/content/docs @nf-core/docs
src/content/tutorials @nf-core/training @nf-core/outreach

sites/main-site/src/content/about/governance.mdx @ewels @christopher-hakkaart @FranBonath @mribeirodantas @FriederikeHanssen @jfy133 @maxulysse
