<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Specific convenience URLs
    RewriteRule ^/?bilibili/?$ https://space.bilibili.com/1280248035?spm_id_from=333.788.b_765f7570696e666f.1 [R=301,L]

    # Remove trailing slashes
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*)/$ /$1 [L,R=301]

    # Event RSS feed
    RewriteCond %{REQUEST_URI} ^/events/rss$
    RewriteRule ^(.*)$ /events.php?rss [L,NC,QSA]

    # Event pages
    RewriteCond %{REQUEST_URI} ^/events/(.*)$
    RewriteRule ^(.*)$ /events.php?event=$1 [L,NC,QSA]

    # Nicer URL for logos
    RewriteCond %{REQUEST_URI} ^/logo/(.*)$
    RewriteRule ^(.*)$ /logo.php?t=$1 [L,NC,QSA]

    # Remove double-slashes
    RewriteCond %{REQUEST_URI} ^(.*)/{2,}(.*)$
    RewriteRule (.*) %1/%2 [R=301,L]

    # Run PHP without filename extension
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php

    # Remove trailing /index from URL
    RewriteCond %{REQUEST_URI} ^(.*)/index$
    RewriteRule (.*) %1 [R=301,L]

    # Remove trailing /README from URL
    RewriteCond %{REQUEST_URI} ^(.*)/README$
    RewriteRule (.*) %1 [R=301,L]

    # Redirect .md URLs to remove the extension
    RewriteCond %{REQUEST_URI} ^(.*)\.md$
    RewriteRule (.*) %1 [R=301,L]

    # Return 404 if original request is .php
    RewriteCond %{THE_REQUEST} \.php[/\s?] [NC]
    RewriteRule !^404 - [R=404,L]

    # Send everything else to our dynamic content loader
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /_routes.php?path=$1 [L,NC,QSA]

    # Nicer error pages
    ErrorDocument 404 /404.php

</IfModule>
