# Redirect https to https
RewriteEngine On
RewriteBase /
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://nf-co.re/$1 [R,L]

# Remove double-slashes
RewriteCond %{REQUEST_URI} ^(.*)/{2,}(.*)$
RewriteRule (.*) %1/%2 [R=301,L]

# Run PHP without filename extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# Return 404 if original request is .php
RewriteCond %{THE_REQUEST} \.php[/\s?] [NC]
RewriteRule !^404 - [R=404,L]

# Send everything else to our dynamic content loader
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /docs.php?path=$1 [L,NC,QSA]

# Nicer error pages
ErrorDocument 404 /404.php
