<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Specific deleted pages
    RewriteRule ^/?tools-docs/lint_tests /tools/docs/latest/pipeline_lint_tests? [L,R=301]
    RewriteRule ^/?tools-docs /tools/docs? [L,R=301]
    RewriteRule ^/?usage/local_installation$ /docs/usage/installation? [L,R=301]
    RewriteRule ^/?usage/adding_own_config$ /docs/usage/configuration? [L,R=301]
    RewriteRule ^/?usage/adding_modules$ /docs/usage/modules? [L,R=301]
    RewriteRule ^/?usage/nextflow_tutorial$ /docs/usage/nextflow? [L,R=301]
    RewriteRule ^/?usage/nf_core_tutorial$ /docs/usage/tutorials/nf_core_tutorial? [L,R=301]
    RewriteRule ^/?fetchfastq(.*)$ /fetchngs$1? [L,R=301]

    # Remove trailing slashes from launch and pipeline_schema_builder URLs
    # RewriteCond %{REQUEST_URI} ^/launch/(.*)
    # RewriteRule ^(.*)/$ /launch%1 [L]
    # RewriteCond %{REQUEST_URI} ^/pipeline_schema_builder/(.*)
    # RewriteRule ^(.*)/$ /pipeline_schema_builder%1 [L]

    # Specific convenience URLs
    RewriteRule ^/?bilibili/?$ https://space.bilibili.com/1280248035?spm_id_from=333.788.b_765f7570696e666f.1 [R=301,L]

    # Redirect http to https

    # Remove www. from URL

    # Remove trailing slashes
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.*)/$
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Return join names to join.php
    RewriteCond %{REQUEST_URI} ^/join/(.*)$
    RewriteRule ^(.*)$ /join.php?t=$1 [L,NC,QSA]

    # Event RSS feed
    RewriteCond %{REQUEST_URI} ^/events/rss$
    RewriteRule ^(.*)$ /events.php?rss [L,NC,QSA]

    # Event pages
    RewriteCond %{REQUEST_URI} ^/events/(.*)$
    RewriteRule ^(.*)$ /events.php?event=$1 [L,NC,QSA]

    # Nicer URL for logos
    RewriteCond %{REQUEST_URI} ^/logo/(.*)$
    RewriteRule ^(.*)$ /logo.php?t=$1 [L,NC,QSA]

    # Remove double-slashes
    RewriteCond %{REQUEST_URI} ^(.*)/{2,}(.*)$
    RewriteRule (.*) %1/%2 [L]

    # Run PHP without filename extension
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php

    # Remove trailing /index from URL
    RewriteCond %{REQUEST_URI} ^(.*)/index$
    RewriteRule (.*) %1 [L]

    # Remove trailing /README from URL
    RewriteCond %{REQUEST_URI} ^(.*)/README$
    RewriteRule (.*) %1 [L]

    # Redirect .md URLs to remove the extension
    RewriteCond %{REQUEST_URI} ^(.*)\.md$
    RewriteRule (.*) %1 [L]

    # Return 404 if original request is .php
    RewriteCond %{THE_REQUEST} \.php[/\s?] [NC]
    RewriteRule !^404 - [R=404,L]

    # Send everything else to our dynamic content loader
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /_routes.php?path=$1 [L,NC,QSA]

    # Nicer error pages
    ErrorDocument 404 /404.php

</IfModule>
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^oldsite\.nf\-co\.re$ [OR]
RewriteCond %{HTTP_HOST} ^www\.oldsite\.nf\-co\.re$
RewriteRule ^/?$ "https\:\/\/oldsite\.nf\-co\.re\/" [R=302,L]

