[submodule "parsedown"]
	path = includes/libraries/parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "parsedown-extra"]
	path = includes/libraries/parsedown-extra
	url = https://github.com/erusev/parsedown-extra.git
[submodule "nf-core/tools"]
	path = includes/nf-core/tools
	url = https://github.com/nf-core/tools.git
