.DS_Store

config.ini
public_html/pipelines.json
nfcore_stats.json
nfcore_issue_stats.json
markdown/pipelines
api_cache
contributor_stats
update.log

access-logs
docs
etc
html
httpdocs
logs
mail
public_ftp
ssl
tmp
www
.user.ini
php.ini
