.DS_Store

config.ini
public_html/pipelines.json
public_html/pipeline_names.json
public_html/assets/js/fa-icons.json
public_html/tools/docs/
nfcore_stats.json
nfcore_issue_stats.json
markdown/pipelines
api_cache
contributor_stats
update.log
includes/nf-core/tools_version.txt
includes/nf-core/tools_all_versions.txt

access-logs
docs
etc
html
httpdocs
logs
mail
public_ftp
ssl
tmp
www
.user.ini
php.ini
.*.sw?
