includes/Maven_Pro/

# gitignore
public_html/assets/lib/
public_html/assets/css/nf-core-auto.css
public_html/assets/css/nf-core-auto.css.map
public_html/assets/css/nf-core-dark.css
public_html/assets/css/nf-core-dark.css.map
public_html/assets/css/nf-core-light.css
public_html/assets/css/nf-core-light.css.map

.DS_Store

config.ini
public_html/pipelines.json
public_html/pipeline_names.json
public_html/assets/js/fa-icons.json
public_html/tools/docs/
nfcore_stats.json
nfcore_issue_stats.json
markdown/pipelines
api_cache
contributor_stats
update.log
tools_version.txt
tools_all_versions.txt

access-logs
docs
etc
html
httpdocs
logs
mail
public_ftp
ssl
tmp
www
.user.ini
php.ini
.*.sw?
node_modules
vendor
backstop_data
.mysql-data/
