// bootstrap options
$enable-negative-margins: true;

// main colors
$nf-core-color: #22ae63;
$nf-tower-color: #335eea;

// overwrite standard bootstrap colors
$success: $nf-core-color;
$info: #17a2b8; // old info color is not so harsh
$light: #e9ecef; // =$gray-200, because we already set body to $gray-100 which is the default light color value

$input-placeholder-color: #ced4da; // $gray-400
$list-group-color: #495057; // $gray-700

$min-contrast-ratio: 2.5; // keeps font-color white even with new $success color

$link-color: #1e6bb8;

$headings-font-family: 'Maven Pro', sans-serif;
$headings-font-weight: 600;
$headings-color: $success;

$accordion-button-active-bg: tint-color($nf-core-color, 30%);
$accordion-button-active-color: shade-color($nf-core-color, 10%);

// extra-wide breakpoints
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1380px,
  xxxl: 1560px,
);

// standard bootstrap variables
@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';

@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';
