html {
    background-color: #f5f5f5;
    // font-family: "Nunito Sans", sans-serif;
    font-family: "InterVariant", sans-serif;
    font-weight: 400;
    font-feature-settings: "ss03"; // curved r https://rsms.me/inter/#features/ss03
    text-rendering: optimizeLegibility; // enables kerning and ligatures for smaller font sizes
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Maven Pro", sans-serif;
}


code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}