.note {
  border-radius: .25rem;
  border: 2px solid #084298;
  padding: 1rem 1rem 0;
  margin-bottom: 1rem;
}
.info {
  border-radius: .25rem;
  border: 2px solid #0e616e;
  padding: 1rem 1rem 0;
  margin-bottom: 1rem;
}
.tip {
  border-radius: .25rem;
  border: 2px solid #14683b;
  padding: 1rem 1rem 0;
  margin-bottom: 1rem;
}
.warning {
  border-radius: .25rem;
  border: 2px solid #997404;
  padding: 1rem 1rem 0;
  margin-bottom: 1rem;
}
.danger {
  border-radius: .25rem;
  border: 2px solid #842029;
  padding: 1rem 1rem 0;
  margin-bottom: 1rem;
}
