---
import HackathonGroup from '@components/event/HackathonGroup.astro';
import { getCollection } from 'astro:content';
import { Markdown } from '@astropub/md';

let projects = await getCollection('hackathon-projects');
---

<div>
    {
        projects.map((project) => (
            <HackathonGroup {...project.data}>
                <Markdown of={project.body} />
            </HackathonGroup>
        ))
    }
</div>
