@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,600|Open+Sans:300,400,500,600');

@import 'bootstrap-print-css/css/bootstrap-print.min';

@media print {
  .pipeline-page-content,
  .main-content h1[id]::before {
    padding-top: 0 !important;
  }
  .mainpage-subheader-heading {
    padding-top: 0.25rem !important;
  }
  .param-docs-row-id-col {
    overflow-x: visible;
  }
  .param-docs .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

// additional variables
$navbar-height: $navbar-brand-height + 2 * $navbar-brand-padding-y + 2 * $navbar-padding-y;
$navbar-height-collapsed: $navbar-brand-height;
$blockquote-background: shift-color($info, $alert-bg-scale);
$blockquote-border: shift-color($info, $alert-border-scale);
$blockquote-color: shift-color($info, $alert-color-scale);
$body-bg: $gray-100;

// general classes
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  background-color: $body-bg;
}

strong {
  font-weight: 600;
}
.text-smaller {
  font-size: 90%;
}

blockquote {
  margin: 1rem 0 2rem;
  padding: 0.5rem 1rem;
  color: $blockquote-color;
  border-left: 5px solid $blockquote-border;
  background-color: $blockquote-background;
  font-style: italic;
  p:last-child {
    margin-bottom: 0;
  }
  code {
    background-color: rgba($gray-200, 0.75);
    color: $gray-800;
  }
  a {
    color: $blue-700;
  }
}
mark,
.mark {
  padding: 0.2em 0;
  background-color: $yellow-100;
  color: inherit;
}
img {
  max-width: 100%;
  &.emoji {
    margin: 0;
    display: inline;
  }
}
.underline {
  text-decoration: underline;
}

.btn-light {
  background-color: rgba($gray-200, 0.75);
  color: $gray-800;
}

.card p:last-child {
  margin-bottom: 0;
}

/* Stop the nav covering the content -  https://stackoverflow.com/a/49331661/713980 */
section:before {
  height: 54px;
  content: '';
  display: block;
}

/* rendered markdown */
.rendered-markdown {
  & img:not(.emoji) {
    max-width: 80%;
    margin: 1rem auto;
    display: block;
  }
  & h1:first-of-type {
    padding-top: 0;
    margin-top: 2.5rem;
  }
}

.bg-lightgray {
  background-color: rgba($gray-200, 0.75);
}
.bg-success-light {
  background-color: tint-color($success, 25%);
}

// Table of Contents
.toc .nav {
  margin-left: 1rem;
}
.toc > .nav {
  margin-top: 10px;
  margin-left: 0;
  padding-bottom: 1px;
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
}
@include media-breakpoint-down(xl) {
  .toc > .nav {
    max-height: calc(100vh - 12.5rem);
  }
}
.toc .nav-link {
  font-weight: 300;
  color: $text-muted;
  &:hover {
    color: $success;
  }
}
.toc .nav .list-group .list-group {
  display: none;
  font-size: 90%;
}
.auto-toc .nav .nav {
  display: none;
}
.auto-toc .nav .nav {
  font-size: 90%;
}

.toc .list-group .list-group .list-group {
  font-size: 80%;
}

.toc .nav > .active + .nav,
.toc .nav .nav > .active + .nav {
  display: block;
}
.toc .nav .nav-link.active {
  color: $list-group-action-color;
  font-weight: bold;
}
.toc .fa-fw {
  margin-right: 0.5rem;
  opacity: 0.8;
}

.toc-md {
  max-height: 50vh;
  max-width: 100%;
  overflow-y: auto;
}

.toast {
  background-color: rgba($gray-100, 0.9);
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  z-index: 5000;
}
.toast-header img {
  height: 20px;
  width: 20px;
}

.triangle-down {
  padding-bottom: 1rem;
  clip-path: polygon(100% 0%, 100% 85%, 50% 100%, 0 85%, 0% 0%);
}

.chevron-down {
  margin-top: -1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  clip-path: polygon(100% 0%, 100% 85%, 50% 100%, 0 85%, 0% 0%, 50% 15%);
}
// triangle-down + triangle-up = hexagon
.hexagon {
  padding-bottom: 2rem;
  padding-top: 2rem;
  clip-path: polygon(100% 7%, 100% 93%, 50% 100%, 0 93%, 0% 7%, 50% 0%);
}
@include media-breakpoint-down(md) {
  .triangle-down {
    clip-path: polygon(100% 0%, 100% 95%, 50% 100%, 0 95%, 0% 0%);
  }
  .chevron-down {
    clip-path: polygon(100% 0%, 100% 95%, 50% 100%, 0 95%, 0% 0%, 50% 5%);
  }
  .hexagon {
    padding-bottom: 1rem;
    padding-top: 1rem;
    clip-path: polygon(100% 5%, 100% 95%, 50% 100%, 0 95%, 0% 5%, 50% 0%);
  }
}

.bg-dark a {
  color: rgba($white, 0.5);
}

// buttons
.btn-outline-success:not(:disabled):not(.disabled) {
  border-color: $nf-core-color;
  color: $nf-core-color;
}
.btn-outline-success:not(:disabled):not(.disabled):hover,
.btn-check:checked + .btn-outline-success:not(:disabled):not(.disabled) {
  background-color: $nf-core-color;
  color: $white;
}
.btn-success:not(:disabled):not(.disabled) {
  background-color: $nf-core-color;
  border-color: $nf-core-color;
  color: $white;
}
.btn-success:not(:disabled):not(.disabled):hover {
  background-color: $nf-core-color;
  border-color: shade-color($nf-core-color, 5%);
  color: $white;
}
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).focus,
.btn-outline-success:not(:disabled):not(.disabled):focus,
.btn-success:not(:disabled):not(.disabled).focus,
.btn-success:not(:disabled):not(.disabled):focus {
  background-color: $nf-core-color;
  border-color: shade-color($nf-core-color, 5%);
  color: $white;
}

.btn.arrow-hover span {
  display: inline-block;
  position: relative;
  transition: 0.15s all ease-in-out;
}
.btn.arrow-hover span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.15s all ease-in-out;
  font-size: 2rem;
  line-height: 1.5rem;
}
.btn.arrow-hover:hover span {
  padding-right: 27px;
}

.btn.arrow-hover:hover span:after {
  opacity: 1;
  right: -3px;
}
.btn.btn-sm.arrow-hover:hover span {
  padding-right: 18px;
}
.btn.btn-sm.arrow-hover span:after {
  font-size: 1.5rem;
  line-height: 1.1rem;
}
.btn.btn-outline-success.arrow-hover span:after {
  color: $white;
}

.btn.disabled .disabled btn:disabled {
  cursor: not-allowed;
}

.btn.rocket-launch-hover:hover i::before {
  content: '\e027';
}

// code
code,
.code {
  font-family: $font-family-monospace;
  background-color: rgba($gray-200, 0.75);
  border-radius: 3px;
  padding: 2px 6px;
  color: inherit;
}
@include media-breakpoint-down(md) {
  pre,
  code,
  .code {
    font-size: 10px;
  }
}
bg-code {
  background-color: $gray-200-alt;
}
.main-content pre {
  border-radius: 3px;
  padding: 12px 15px;
  font-size: 14px;
  code {
    border: 1px solid $gray-300;
    display: block;
    overflow-x: auto;
    padding: 1em;
    .copy-button {
      margin-top: 0.4rem;
      margin-right: 0.4rem;
      display: none;
      &:focus {
        // color: $success;
        box-shadow: none;
      }
    }
    &:hover .copy-button {
      display: block;
    }
  }
}

// nav

.site-nav {
  padding: 0.2rem 1rem;
}
.site-nav .navbar-brand {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.site-nav .navbar-nav > li > a {
  margin-left: 1rem;
  margin-right: 1rem;
  transition: ease-in-out color 0.1s;
}

.site-nav li .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 0;
  margin-top: 3px;
}
.site-nav .collapse.show li .dropdown-menu {
  background-color: transparent;
}
.site-nav .dropdown-divider {
  border-color: $gray-400;
}

// footer

footer.footer {
  padding: 4rem 0 5rem;
  background-color: $gray-200;
  h5 {
    color: $gray-800;
  }
}
footer.subfooter {
  padding: 2rem 0;
  background-color: darken($gray-100, 2.5%);
}
footer,
footer a {
  text-decoration: none;
}
footer,
footer a,
footer a:hover,
footer a:focus,
footer a:active {
  color: $gray-600;
}
footer a:hover,
footer a:focus,
footer a:active {
  text-decoration: underline;
}
.theme-switcher label {
  cursor: pointer;
}
.social-icons a {
  margin-left: 6px;
  text-decoration: none;
  img {
    width: 20px;
    filter: opacity(80%);
    transition: filter 0.1s ease-in-out;
  }
  &:hover img,
  &:focus img,
  &:active img {
    filter: opacity(100%);
    text-decoration: none;
  }
}

/*
 * Main pages
 */

.mainpage {
  margin-top: $navbar-height;
}
@include media-breakpoint-down(md) {
  .mainpage {
    margin-top: $navbar-height-collapsed;
  }
}
.mainpage-heading {
  background-color: $nf-core-color;
  color: $white;
  padding: 3rem 0 5rem 0;
}
.mainpage-heading h1,
.mainpage-heading h1 a {
  color: $white;
  text-decoration: none;
}
@include media-breakpoint-down(md) {
  .mainpage-heading {
    padding: 1.5rem 0 1.5rem 0;
  }
  .mainpage-heading h1 {
    font-size: 3rem;
  }
}
.mainpage-heading h1 a:hover,
.mainpage-heading h1 a:focus {
  color: $gray-700-alt;
}
.mainpage-heading code {
  color: $white;
}
.mainpage-subheader-heading {
  background-color: $gray-200;
  margin-top: -3.5rem;
  padding: 4rem 0 1rem;
}
@include media-breakpoint-down(md) {
  .mainpage-subheader-heading {
    padding-top: 2rem;
  }
}

.mainpage-subheader-heading-header {
  background-color: $gray-300;
  box-shadow: 0 0 10px rgba($black, 0.2);
}
.mainpage-subheader-heading a.subheader-link {
  text-decoration: none;
  color: $gray-800;
}
.main-content {
  min-height: 300px;
  margin-top: 1rem;
  margin-bottom: 6rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6,
.main-content .h1,
.main-content .h2,
.main-content .h3,
.main-content .h4,
.main-content .h5,
.main-content .h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.main-content h1[id]::before,
.main-content h2[id]::before,
.main-content h3[id]::before,
.main-content h4[id]::before,
.main-content h5[id]::before,
.main-content h6[id]::before,
.main-content .h1[id]::before,
.main-content .h2[id]::before,
.main-content .h3[id]::before,
.main-content .h4[id]::before,
.main-content .h5[id]::before,
.main-content .h6[id]::before {
  display: block;
  content: '';
  padding-top: 50px;
  margin-top: -50px;
}
.main-content h1[id] {
  margin-top: -30px;
}
.main-content h1 {
  border-bottom: 1px solid $nf-core-color;
}
.main-content .module h4::before {
  padding-top: 0px;
  margin-top: 0px;
}

.header-link {
  color: $gray-600;
  font-size: 30px;
  margin: 0px 0px 0 10px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
.parameter-link {
  opacity: 1;
}
h1:hover .header-link,
h1:active .header-link,
h1:focus .header-link,
h2:hover .header-link,
h2:active .header-link,
h2:focus .header-link,
h3:hover .header-link,
h3:active .header-link,
h3:focus .header-link,
h4:hover .header-link,
h4:active .header-link,
h4:focus .header-link,
.h1:hover .header-link,
.h1:active .header-link,
.h1:focus .header-link,
.h2:hover .header-link,
.h2:active .header-link,
.h2:focus .header-link,
.h3:hover .header-link,
.h3:active .header-link,
.h3:focus .header-link,
.h4:hover .header-link,
.h4:active .header-link,
.h4:focus .header-link {
  opacity: 1;
  text-decoration: none;
}
@include media-breakpoint-down(sm) {
  .header-link {
    margin: 0;
    padding-right: 10px;
    opacity: 1;
  }
}

.edit-md-btn {
  opacity: 0.5;
  transition:
    opacity 0.15s ease-in-out,
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.edit-md-btn:hover,
.edit-md-btn:active,
.edit-md-btn:focus {
  opacity: 1;
}

/*
 * Homepage
 */
.homepage-header .homepage-header-contents {
  margin: 3rem auto 0;
  padding: 0;
  text-align: center;
}
.homepage-header-fa-background {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 16em;
  opacity: 0.2;
}

/* Fancy call to action button on homepage
Based on https://codepen.io/wintr/pen/beBJBb */
.homepage-cta-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.homepage-cta {
  width: 100px;
  height: 100px;
  line-height: 20px;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s all ease;
  font-size: 14px;
  color: $nf-core-color;
  font-weight: bold;
}
.homepage-cta:after {
  transition: 0.3s all ease;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  border: 2px solid $nf-core-color;
}
.homepage-cta:before {
  content: '';
  position: absolute;
  border-radius: 3px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: $gray-200;
  z-index: -1;
  transition: 0.3s all ease;
}
.homepage-cta:hover,
.homepage-cta:focus {
  color: $nf-core-color;
  text-decoration: none;
}
.homepage-cta:hover:after,
.homepage-cta:focus:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.homepage-cta:active {
  -webkit-transform: scale(1);
  transform: scale(1);
  color: $white;
}
.homepage-cta:active:before {
  background-color: $nf-core-color;
}
.homepage-cta:active:after {
  border-color: $nf-core-color;
}

.searchbar_form {
  justify-content: center;
}
.searchbar_form input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  width: auto;
}
.searchbar_form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.homepage_search.searchbar_form {
  margin-bottom: 3rem;
}

.homepage-intro {
  background-color: $nf-core-color;
}
.homepage-intro {
  color: $white;
  text-align: center;
}

.homepage-feature-boxes p {
  font-size: 0.9rem;
}

.list-switch,
.list-switch li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-switch a {
  display: block;
  padding: 10px 15px;
  margin: 0;
  border-bottom: 1px solid $gray-100-alt;
  background-color: $gray-200-alt;
  color: $gray-700-alt;
  text-decoration: none;
  position: relative;
  height: 42px;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  .label {
    margin-right: 10px;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: $gray-300-alt;
  }
}
.list-switch li:first-child a {
  border-top: 1px solid $gray-100-alt;
}

@include media-breakpoint-up(lg) {
  .list-switch.left a {
    margin-left: 21px;
  }
  .list-switch.right a {
    margin-right: 21px;
  }
  .list-switch a.active:before {
    content: '';
    display: block;
    border: 21px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -21px;
    -webkit-transition: border 0.1s;
    transition: border 0.1s;
  }
  .list-switch.left a.active:before {
    border-right-color: $gray-200-alt;
    left: -42px;
  }
  .list-switch.right a.active:before {
    border-left-color: $gray-200-alt;
    right: -42px;
  }
  .list-switch.left a:hover:before,
  .list-switch.left a:active:before,
  .list-switch.left a:focus:before {
    border-right-color: $gray-300-alt;
  }
  .list-switch.right a:hover:before,
  .list-switch.right a:active:before,
  .list-switch.right a:focus:before {
    border-left-color: $gray-300-alt;
  }
}

.homepage-usedby {
  position: relative;
  display: block;
  color: $white;
}
.homepage-usedby h2,
.homepage-usedby a {
  color: $white;
  text-decoration: none;
}
.homepage-usedby p,
.homepage-usedby p a {
  color: rgba($white, 0.8);
}
.homepage-usedby::before {
  content: '';
  background: $black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
}
.homepage-usedby::after {
  content: '';
  background: url('../img/flowcell.jpg') no-repeat;
  background-attachment: fixed;
  opacity: 0.8;
  background-size: cover;
  background-position: right top;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.homepage-usedby img {
  height: 80px;
  max-width: 30%;
  margin: 1rem 2rem 1rem 0;
}
@media (max-width: 576px) {
  .homepage-usedby img {
    height: 50px;
    max-width: 120px;
    margin: 0.5rem 1rem 0.5rem 0;
  }
}
.homepage_contrib_logos {
  overflow: hidden;
  white-space: nowrap;
}

/*
 * Pipelines
 */

.pipelines-toolbar .pipeline-filters input,
.events-toolbar .event-filters input {
  max-width: 10rem;
}
.pipelines-toolbar .btn.active {
  opacity: 0.8;
}
.pipelines-toolbar .btn-outline-success:not(.active):not(:disabled):not(.disabled):hover {
  background-color: transparent;
  color: $nf-core-color;
}
.pipelines-toolbar .btn-outline-success.active:not(:disabled):not(.disabled):hover {
  background-color: $nf-core-color;
  color: $white;
}
.pipelines-toolbar .pipeline-filters input.active:not(:focus) {
  background-color: $white;
  border-color: $nf-core-color;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba($nf-core-color, 0.25);
}
.pipeline .card-title,
.module .card-title {
  margin-top: 0;
  padding-top: 0;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}
.pipeline .stargazers {
  float: right;
  font-size: 0.8rem;
  color: $gray-500;
}
.pipeline .stargazers .far {
  color: $warning;
}
.pipeline .stargazers:hover {
  color: $warning;
  text-decoration: none;
}
.pipeline .stargazers:hover i {
  font-weight: 900; /* Filled star instead of empty */
}
.pipeline .status-icon {
  opacity: 0.6;
  cursor: help;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.pipeline .status-icon:hover {
  opacity: 1;
}
.pipeline .card-text {
  font-size: 0.9rem;
}
.pipeline .pipeline-topic,
.module .module-topic,
.search-page-result .pipeline-topic {
  background-color: $gray-100;
  color: $success;
  font-weight: 400;
}
.mainpage-heading .pipeline-topic,
.mainpage-heading .module-topic {
  background-color: rgba($white, 0.1);
  color: rgba($white, 0.9);
  font-weight: 400;
}
.pipelines-container-list .col:first-child .pipeline.card {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.pipelines-container-list .col:last-child .pipeline.card {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom: 1px solid rgba($black, 0.125);
}
.pipelines-container-list .pipeline {
  & .card {
    min-width: 100%;
    margin-bottom: 0;
    border-bottom: none;
    border-radius: 0;
  }
  & .card-body {
    padding: 0.8rem;
  }
  & .card-title {
    font-size: 1.2rem;
    width: 30%;
  }
  & .card-text {
    width: 70%;
    margin-top: 0 !important;
    margin-bottom: 1rem;
  }
  & .card-title,
  & .card-text {
    float: left;
  }
  & h3 .status-icon {
    float: left;
    margin: 0.3rem 0.5rem 0 0;
    margin-left: 0 !important;
  }
  & .dl-btn-row,
  & .topics,
  & .stargazers {
    display: none;
  }
}

/*
 * Modules
 */
.module .contrib-avatars {
  width: 30px;
}
.module .module-params .module-input {
  min-width: 30%;
}
.module .card-text.show ~ .module-params .d-flex.flex-wrap {
  flex-direction: column;
}
.module .show ~ .hide-collapse {
  display: none;
}
.facet-bar .facet-item {
  cursor: pointer;
  &.active {
    & .facet-name {
      color: $success;
    }
    & .facet-value {
      background-color: $success !important;
    }
  }
}
.module .topics {
  cursor: pointer;
}

.module-row-name-id {
  overflow-x: auto;
  white-space: nowrap;
}

/*
  About Page
*/
.main-content .contributor h5,
.main-content .contributor h6 {
  margin: 0 0 0.5rem;
  padding: 0;
}
.contributor h5 a {
  color: $success;
}
.contributor_logo {
  height: 60px;
  max-width: 200px;
  padding-left: 5px;
  float: right;
}

.contributors-map-card {
  height: 450px;
  margin-bottom: 2rem;
}
@include media-breakpoint-down(md) {
  .contributors-map-card {
    height: 200px;
  }
}
.contributor_map_logo {
  height: 45px;
  margin-top: 0.25rem;
}

/*
  Pipeline Page
*/
@include media-breakpoint-up(lg) {
  .pipeline-page-content,
  .module-page-content,
  .rendered-markdown,
  .side-sub-subnav {
    padding-top: $navbar-height;
  }
}
@include media-breakpoint-down(lg) {
  .side-sub-subnav .dropdown {
    margin-top: $navbar-height;
  }
}
nfcore-subnav {
  font-size: 75%;
}
.nfcore-subnav .nav-link {
  border-bottom: 1px solid $gray-300;
  &:hover,
  &:active,
  &:focus {
    background-color: rgba($nf-core-color, 0.1);
  }
}
.nfcore-subnav .nav-link.active {
  border-bottom: 1px solid $nf-core-color;
  background-color: rgba($nf-core-color, 0.05);
  color: $gray-800;
}
.pipeline-sidebar {
  font-size: 75%;
}
.mainpage .pipeline-sidebar h6,
.mainpage .module-sidebar h6 {
  padding-top: 0;
  margin-top: 5px;
  color: $gray-500;
  font-size: 12px;
}
.mainpage .module-sidebar h6 {
  font-size: 14px;
}

.mainpage .pipeline-sidebar p,
.mainpage .module-sidebar p {
  margin-bottom: 5px;
  a {
    text-decoration: none;
    color: $gray-900;
  }
}
.mainpage .pipeline-sidebar .nav-link {
  &:hover {
    text-decoration: underline;
  }

  &.active {
    background-color: $body-bg;
    text-decoration: underline;
  }
}
.pipeline-run-cmd input {
  font-family: $font-family-monospace;
  background-color: $gray-400;
  overflow-x: auto;
  cursor: text;
}
.module-install-cmd #module-install-cmd-text {
  font-family: $font-family-monospace;
  cursor: text;
  overflow-x: auto;
}
.pipeline-run-cmd .btn-outline-secondary,
.module-run-cmd .btn-outline-secondary {
  border-color: $gray-400;
}
.pipeline-sidebar .contrib-avatars img,
.module-sidebar .contrib-avatars img {
  width: 42px;
  padding: 0 0.5rem 0.5rem 0;
}
.pipeline-stats-table thead tr th {
  cursor: pointer;
}
.pipeline-stats-table tr th,
.pipeline-stats-table tr td {
  white-space: nowrap;
}
.pipeline-stats-table thead tr th[data-sortedby] {
  text-decoration: underline;
}

.pipeline-stats .contrib-avatars img {
  width: 60px;
  padding: 0 0 0.75rem 0;
  margin: 0;
}
/* Stats page */
.stats_keynumbers .card,
.event-list .card {
  overflow: hidden;
}
.stats_keynumbers .bg-icon {
  font-size: 180px;
  color: rgba($gray-900, 0.1);
  position: absolute;
  bottom: -80px;
  right: -20px;
}

.event-list .fad.fa-5x {
  --fa-primary-opacity: 0.5;
  --fa-secondary-opacity: 0.2;
}

/* Publications page */
.pub-stats-wrapper {
  float: right;
}
.altmetric-embed {
  background: radial-gradient($white 25px, transparent 25px);
}
.altmetric-embed .altmetric-popover-content {
  color: $gray-700;
}

/* Join page */
.join-pull-img {
  float: right;
  padding-left: 1.5rem;
  background-color: $gray-100;
}
.link-underline {
  text-decoration: underline;
}
.link-underline:hover,
.link-underline:focus,
.link-underline:active {
  text-decoration: none;
}

/* JSON Schema Builder */
.schema-gui-header {
  top: 4rem;
  margin: 2rem 0 0.8rem;
  font-size: 0.875rem;
  background-color: $gray-100;
  border: 1px solid $border-color;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 5px rgba($black, 0.3);
}
.schema_row input {
  color: $gray-800;
}

.schema_row,
.schema_row input,
.schema_row select {
  font-size: 0.8rem;
  background-color: $gray-100;
  border-radius: 0.2rem;
  margin: 0 0 0.5rem;
}
.schema_row div:hover,
.schema_row:focus-within {
  background-color: $gray-200;
}
.schema_row div:focus-within,
.schema_row_grabber:hover,
.schema_row_config:hover,
.schema_group_collapse:hover,
.schema_group_move_params:hover {
  background-color: $gray-200;
}
.schema_row label,
.modules-container-list label {
  color: $gray-500;
  margin: 0.2rem 0 0;
  font-size: 0.7rem;
  width: 100%;
}
.schema_row div:hover label,
.schema_row div:focus-within label {
  color: $gray-600;
}
.schema_row input,
.schema_row select,
.fa_icon_picker .popover-header input {
  border: none;
  width: 100%;
  outline: none;
  background-color: transparent;
}
.schema_row select {
  -webkit-appearance: none;
  appearance: none;
}
.schema_row_grabber,
.schema_row_config,
.schema_group_collapse,
.schema_group_move_params {
  line-height: 3rem;
  vertical-align: middle;
  background-color: $gray-100;
}
.schema_row .schema_row_grabber:hover,
.schema_row .schema_row_config:hover,
.schema_row .schema_group_collapse:hover,
.schema_row .schema_group_move_params:hover,
.schema_row > button:hover,
.schema_row > button:focus {
  background-color: $gray-200;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.schema_row_config,
.schema_group_collapse,
.schema_group_move_params {
  cursor: pointer;
}
.schema_row_grabber {
  cursor: grab;
}
.ui-sortable-helper .schema_row_grabber {
  cursor: grabbing;
}
.ui-sortable-helper,
.ui-selecting,
.ui-selected {
  border: 1px solid $gray-400;
}
.schema_row_grabber i,
.schema_row_config i,
.schema_group_collapse i,
.schema_group_move_params i {
  color: $gray-600;
}
.schema_row_grabber:hover i,
.schema_row_config:hover i,
.schema_group_collapse:hover i,
.schema_group_move_params:hover i {
  color: $gray-800;
}
.schema_row > button {
  line-height: 3rem;
  font-size: 1rem;
  vertical-align: middle;
  border: 0;
  background-color: transparent;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.param_fa_icon_missing,
.help_text_icon.help_text_icon_no_text {
  color: $gray-400;
}
.schema_row_move_placeholder {
  height: 3rem;
  margin: 0.2rem 0;
}

.schema_group {
  margin: 1rem 0;
  box-shadow: 2px 2px 5px rgba($black, 0.1);
}
.schema_group .card-body {
  padding: 1rem 1rem 0.5rem;
}
.group-drag-drop-help {
  font-size: 80%;
  color: $gray-600;
  font-style: italic;
  margin-bottom: 0;
}
.fa_icon_picker.popover {
  max-width: 20rem;
}
.fa_icon_picker .fa-2x {
  color: $gray-600;
}
.fa_icon_picker .popover-header input {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 0.8rem;
}
.fa_icon_picker .popover-header {
  padding: 0;
}
.fa_icon_picker .popover-body {
  height: 15rem;
  overflow-y: auto;
  padding: 0.25rem;
}

#json_schema,
#schema_input {
  font-size: 0.7rem;
}

.help-preview-group {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $gray-300;
  margin: 3rem 0;
}
.help-preview-group h2,
.help-preview-group h4 {
  padding-top: 0;
  margin-top: 0;
}
.help-preview-group:first-child {
  margin-top: 1rem;
}
.help-preview-group:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.help-preview-param {
  margin-bottom: 1.5rem;
}
.help-preview-param-hidden {
  display: none;
}

#tab-helptext-preview {
  pre {
    white-space: pre-wrap;
    background-color: $gray-100;
    color: $gray-900;
  }
  .card-body {
    background-color: $gray-100;
  }
}

@include media-breakpoint-up(md) {
  #launch_select_pipeline .form-group {
    margin-bottom: 0;
  }
}
.main-content fieldset {
  margin-top: 50px;
}
.main-content legend.h2 {
  margin-top: 0;
  padding-top: 0.75rem;
}
.param-form-group {
  margin-top: 1rem;
  &:first-child {
    margin-top: 0;
  }
}
/*
Launch Page
*/
.launcher-help-text {
  margin-top: 0.25rem;
  padding: 0.5rem 1rem;
}
.launcher-help-text p:last-child {
  margin-bottom: 0;
}
.btn-nf-tower {
  background-color: $nf-tower-color;
  border-color: $nf-tower-color;
  &.active,
  &:active,
  &.focus,
  &:focus,
  &:hover {
    background-color: shade-color($nf-tower-color, 5%);
    border-color: shade-color($nf-tower-color, 5%);
  }
}

.is_hidden {
  display: none;
}
.progress-bar {
  transition: none;
}
.form-control.radio-form-control-valid {
  border-color: $form-feedback-valid-color;
  padding-right: calc(1.5em + 0.75rem);
  background-image: $form-feedback-icon-valid;
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-control.radio-form-control-invalid {
  border-color: $form-feedback-invalid-color;
  padding-right: calc(1.5em + 0.75rem);
  background-image: $form-feedback-icon-valid;
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.input-group-valid label,
.input-group-valid .btn {
  border-color: $form-feedback-valid-color;
}
.input-group-invalid label,
.input-group-invalid .btn {
  border-color: $form-feedback-invalid-color;
}
.param-docs h2,
.param-docs .h2,
.param-docs h3,
.param-docs .h3 {
  margin-right: 1.7rem;
}

// parameter docs
.param-docs-row-id-col,
.param-docs-row-id-col code,
.hidden_params_alert code {
  white-space: nowrap;
}
.param-docs-row-id-col {
  overflow-x: auto;
}
.param-docs-row p:last-child {
  margin-bottom: 0;
}
.param-docs-hidden {
  background-color: $gray-200;
}
.param-docs-row-group.param-docs-hidden {
  background-color: inherit;
}
.small-h h3,
.small-h h4 {
  font-size: 1rem;
  & .fa-link {
    font-size: 1.1rem;
  }
}
@include media-breakpoint-down(md) {
  .param-docs-row code {
    font-size: 87.5%;
  }
}

.hidden_params_alert {
  margin: 3rem -15px;
}
.btn-show-hidden-params .collapsing {
  display: none;
}

.breadcrumb-item.active {
  text-decoration: underline;
  color: $gray-700;
}
#tb-s3objects_wrapper tr i {
  color: $success;
}
#file-preview .card-body {
  max-height: 60rem;
  overflow-y: auto;
}
.text-small {
  font-size: 0.85rem;
}
.ratio.ratio-16x9 ~ details {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1.25rem;
}

.ratio.ratio-16x9 ~ details[open] {
  height: 50vh;
  overflow-x: scroll;
}
.sidebar-nav {
  @include media-breakpoint-up(lg) {
    height: 100vh;
    overflow: auto;
  }
  .btn {
    .fas {
      transition: transform 0.3s ease;
    }
    &:hover {
      color: $success;
    }
  }
  .btn[aria-expanded='true'] .fas {
    transform: rotate(90deg);
  }
  a {
    color: $gray-700;
    text-decoration: none;
    border-left: 1px solid transparent; // For alignment
    &.active {
      color: $gray-900;
      font-size: 0.9rem;
      font-weight: 700;
      border-left: 1px solid $success; // For alignment
    }
    &:hover {
      color: $success;
    }
  }
}
.sidebar-nav.side-sub-subnav > ul > nav {
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid $secondary;
  &:last-child {
    border-bottom: none;
  }
}
