// // Global Bootstrap options
// // $enable-shadows: true;
// // $enable-gradients: true;
// $border-radius: .2rem;


$nf-core-color: #22ae63;
$nf-tower-color: #335eea;

$success: $nf-core-color;
$info: #17a2b8;

$min-contrast-ratio: 2.5; // keeps font-color white even with new $success color

$input-placeholder-color: #ccc;

$list-group-color: #495057;

$link-color: #1e6bb8;

// $primary: #045C64;
// $secondary: #491F53;
// $success: #A7C947; // TODO - A bit light for use as "success" for validation etc. Split into its own colour?
// $info: #4C979F;

// // Dark mode
// $primary-alt: #045C64;
// $secondary-alt: #491F53;
// $success-alt: #A7C947; // TODO - A bit light for use as "success" for validation etc. Split into its own colour?
// $info-alt: #4C979F;
// $light-alt: #343a40; // $gray-800 but this is before the bootstrap variables are loaded

// $font-family-sans-serif:
//   // Custom - Lato (as recommended by SciLifeLab style guide)
//   "Lato",
//   // Everything else is the default Bootstrap 5 sans-serif font stack..
//   system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


// //
// // Override Bootstrap defaults
// //
// $navbar-nav-link-padding-x: 1rem;
// $form-floating-label-opacity: .4;