// bootstrap options
$enable-negative-margins: true;

// main colors
$nf-core-color: #2d3a87;
$nf-tower-color: #335eea;

// overwrite standard bootstrap colors
$success: $nf-core-color;
$info: #17a2b8; // old info color is not so harsh
$light: #e9ecef; // =$gray-200, because we already set body to $gray-100 which is the default light color value

$input-placeholder-color: #ced4da; // $gray-400
$list-group-color: #495057; // $gray-700

$min-contrast-ratio: 2.5; // keeps font-color white even with new $success color

$link-color: #1e6bb8;

$headings-font-family: 'Maven Pro', sans-serif;
$headings-font-weight: 600;
$headings-color: $success;

$accordion-button-active-bg: tint-color($nf-core-color, 30%);
$accordion-button-active-color: shade-color($nf-core-color, 10%);

// extra-wide breakpoints
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1380px,
  xxxl: 1560px,
);

/*
    Dark mode specific variables
*/

// dark mode default colors
$nf-core-color-alt: #597fba;

// inverted the bootstrap-dark's gray color scale.
$gray-900-alt: #e1e1e1 !default; //~~
$gray-800-alt: #cfcfcf !default; //~~
$gray-700-alt: #b1b1b1 !default; //~~
$gray-600-alt: #9e9e9e !default; //~~
$gray-500-alt: #7e7e7e !default; //~~
$gray-400-alt: #626262 !default; //~~
$gray-300-alt: #515151 !default; //~~
$gray-200-alt: #3b3b3b !default; //~~
$gray-100-alt: #222222 !default; //~~

$primary-alt: #2b4764;
$secondary-alt: $gray-400-alt;
$success-alt: $nf-core-color-alt;
$info-alt: #3a7683;
$light-alt: $gray-100-alt;
$dark-alt: $gray-200-alt;
$white-alt: #fafafa;

$navbar-light-color-alt: rgba(255, 255, 255, 0.55);
$body-color-alt: $gray-800-alt;
$text-muted-alt: $gray-600-alt;
$link-color-alt: #6fb2e8;
$list-group-action-color-alt: $gray-800-alt;
$border-color-alt: $gray-400-alt;
$card-bg-alt: $gray-200-alt;
$modal-content-bg-alt: mix($gray-200-alt, $gray-100-alt, 50%);

$input-bg-alt: $gray-200-alt;
$input-disabled-bg-alt: $gray-300-alt;
$input-border-color-alt: $gray-300-alt;
$input-color-alt: $gray-600-alt;
$input-group-addon-bg-alt: $gray-300-alt;
$form-select-indicator-color-alt: $gray-600-alt;
$form-select-disabled-bg-alt: $gray-100-alt;
$form-select-disabled-color-alt: $gray-300-alt;
$input-placeholder-color-alt: $gray-400-alt;

$nav-link-disabled-color-alt: $gray-400-alt;
$nav-tabs-border-color-alt: $gray-400-alt;
$nav-tabs-link-hover-border-color-alt: $gray-200-alt $gray-200-alt $nav-tabs-border-color-alt;
$nav-tabs-link-active-color-alt: $gray-700-alt;
$nav-tabs-link-active-bg-alt: $gray-100-alt;
$nav-tabs-link-active-border-color-alt: $gray-400-alt $gray-400-alt $nav-tabs-link-active-bg-alt;

$dropdown-color-alt: $gray-700-alt;
$dropdown-bg-alt: $gray-200-alt;
$dropdown-link-hover-color-alt: $white-alt;
$dropdown-link-hover-bg-alt: rgba($white-alt, 0.15);
$dropdown-link-disabled-color-alt: $gray-500-alt;
$dropdown-header-color-alt: $gray-500-alt;

$pagination-bg-alt: $gray-200-alt;
$pagination-border-color-alt: $gray-300-alt;
$pagination-focus-bg-alt: $gray-300-alt;
$pagination-hover-bg-alt: $gray-300-alt;
$pagination-hover-border-color-alt: $gray-400-alt;
$pagination-disabled-color-alt: ix($gray-400-alt, $gray-500-alt, 50%);
$pagination-disabled-bg-alt: $gray-100-alt;
$pagination-disabled-border-color-alt: $gray-400-alt;

$headings-color-alt: $success-alt;

$tooltip-bg-alt: $gray-300-alt;
$tooltip-color-alt: $gray-900-alt;
