@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,600|Open+Sans:300,400,600');

// Import our variables - stuff like colours etc
@import 'variables';

$nf-core-color: $nf-core-color-alt;
//
// Bootstrap-5-dark
// Based on bootstrap-night.scss with fixed import paths
//

// Configuration: bootstrap-dark-5
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables'; // defaults are here
@import 'bootstrap-dark-5/scss/dark/functions';
@import 'bootstrap-dark-5/scss/variables-alt'; // dark color set is here
@import 'bootstrap-dark-5/scss/dark/variables-map-alt-to-core'; // map the `-alt`'s back to core colors
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap-dark-5/scss/dark/patch'; // missing from BS, unsupported patch/hack

:root {
  color-scheme: dark;
}

// Layout & components
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/breadcrumb';
@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/toasts';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/popover';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/offcanvas';
@import 'bootstrap/scss/placeholders';

// Helpers
@import 'bootstrap/scss/helpers';

// Utilities
@import 'bootstrap/scss/utilities/api';

// import code highlight style
@import '@highlightjs/cdn-assets/styles/github-dark-dimmed.min';
//
// Import custom styling for nf-core
//
@import 'nf-core';

// custom dark-mode styling
.hide-dark {
  display: none;
}
.hide-light {
  display: inherit;
}

.bg-body {
  background-color: $gray-100 !important;
}

.bg-secondary {
  background-color: $gray-400-alt;
  &.badge {
    color: $gray-800-alt;
  }
}
.bg-success {
  background-color: $success-alt;
  color: $gray-900-alt;
}
.bg-info {
  background-color: $info-alt;
}
.bg-warning {
  background-color: $warning-alt;
}
.bg-danger {
  background-color: $danger-alt;
}

.text-success {
  color: $success-alt;
}
.text-info {
  color: $info-alt;
}
.text-warning {
  color: $warning-alt;
}
.text-danger {
  color: $danger-alt;
}

.bg-dark .text-white,
.bg-dark.text-white,
.bg-secondary .text-white,
.bg-secondary.text-white {
  color: $gray-800-alt !important;
  &.card {
    background-color: $gray-100-alt !important;
  }
}
.bg-light {
  background-color: $gray-200-alt !important;
  &.text-dark {
    color: $gray-900-alt !important;
  }
}

.card.bg-body {
  background-color: $gray-100-alt !important;
}

code,
.code,
pre code,
pre .code {
  color: $warning;
}
.card code {
  background-color: rgba($gray-300-alt, 0.75);
}
.text-black-50 {
  color: rgba($white, 0.5) !important;
}

blockquote a {
  color: #6ea8fe;
}

// Footer
.social-icons a.social-github {
  img {
    filter: invert(80%) opacity(70%);
  }
  &:hover img,
  &:active img,
  &:focus img {
    filter: invert(80%) opacity(100%);
  }
}

// pipeline page

.nfcore-subnav .nav-link.active {
  background-color: rgba($nf-core-color, 0.4);
}
.nfcore-subnav .nav-link:hover,
.nfcore-subnav .nav-link:active,
.nfcore-subnav .nav-link:focus {
  background-color: rgba($nf-core-color, 0.6);
}

.pipeline-run-cmd .btn {
  border-color: $gray-300;
}

.pipeline .pipeline-topic,
.search-page-result .pipeline-topic {
  background-color: $gray-300-alt;
}

#file-preview {
  iframe {
    background-color: $gray-800;
  }
  img {
    background-color: $gray-900-alt;
  }
}

// Schema builder
.schema_row {
  &,
  & input,
  & select,
  & .param_fa_icon,
  & button .param_fa_icon {
    color: $body-color-alt;
  }
}

.events-filters .btn-outline-primary {
  color: lighten($primary-alt, 25%);
  border-color: lighten($primary-alt, 25%);

  &:hover,
  &:active,
  &.active {
    color: $white;
    background-color: $primary-alt;
  }
}

.badge.bg-primary {
  background-color: $primary-alt;
}

.homepage-intro {
  color: $white-alt;
  .text-white {
    color: $white-alt;
  }
}
