---
import ProjectModal from "@components/event/HackathonProjects/ProjectModal.astro";
import { getCollection } from "astro:content";
import { Markdown } from "@astropub/md";

let projects = await getCollection("hackathon-projects");
---

<div class="hackathon_project_list_modals">
    {
        projects.map((project) => (
            <ProjectModal id={project.id} {...project.data}>
                <Markdown of={project.body ?? ""} />
            </ProjectModal>
        ))
    }
</div>
