---
import Project from "@components/event/HackathonProjects/Project.astro";
import { getCollection } from "astro:content";

let projects = await getCollection("hackathon-projects");
// sort projects by data.category
projects.sort((a, b) => {
    return a.data.category.localeCompare(b.data.category);
});
---

<div>
    {projects.map((project) => <Project id={project.id} {...project.data} />)}
</div>
