---
import Leaflet from '@components/Leaflet.svelte';
import local_sites_yml from '../../config/local_sites.yaml';
import { getCollection } from 'astro:content';

const { event } = Astro.props;

let events = await getCollection('events', ({ slug }) => {
    return slug.startsWith(event);
});

const local_sites_map: {
    location: [number, number];
    name: string;
    url: string;
}[] = events.map((site) => {
    const location = site.data.locations?.[0];
    if (location) {
        return {
            location: location.geoCoordinates,
            name: site.data.title,
            url: '/events/' + site.slug,
        };
    }
    return null;
});
---

<div class="contributors-map-card">
    <Leaflet locations={local_sites_map} client:only="visible" />
</div>
