---
import Leaflet from '@components/Leaflet.svelte';
import local_sites_yml from '../../config/local_sites.yaml';

const local_sites_map: {
    location: [number, number];
    name: string;
    url: string;
}[] = local_sites_yml.local_sites.map((site) => {
    const location = site.location;
    if (location) {
        return {
            location: location,
            name: site.full_name,
            url: site.url,
        };
    }
    return null;
});
---

<div class="contributors-map-card">
    <Leaflet locations={local_sites_map} client:only="svelte" />
</div>
