---
import BaseLayout from '../layouts/BaseLayout.astro';
import NfCoreLogo from '../images/logos/nf-core-logo.svg';
import NfCoreLogoDarkbg from '../images/logos/nf-core-logo-darkbg.svg';
import NatureBiotech from '../images/homepage/nature_biotech.svg';

import { Icon } from 'astro-icon';
---

<BaseLayout>
    <div class="homepage-header">
        <!-- TODO: HIGHLIGHT UPCOMING / ONGOING EVENTS -->
        <div class="homepage-header-contents col-md-5">
            <h1>
                <img src={NfCoreLogo} class="hide-dark" />
                <img src={NfCoreLogoDarkbg} class="hide-light" />
            </h1>
            <p class="lead font-weight-normal">
                A community effort to collect a curated set of analysis pipelines built using Nextflow.
            </p>
            <div class="homepage-cta-flex mb-5">
                <a class="homepage-cta" href="/pipelines">View Pipelines</a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <form class="searchbar_form homepage_search" action="search" method="get">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Search" name="q" required />
                <button type="submit" class="btn btn-outline-success">Search</button>
            </div>
        </form>
    </div>

    <div class="homepage-intro hexagon">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 col-xl-3 py-3 py-md-5 px-md-4">
                    <i class="fad fa-industry-alt fa-3x mb-2"></i>
                    <h3 class="text-white">For facilities</h3>
                    <p class="lead">
                        Highly optimised pipelines with excellent reporting. Validated releases ensure reproducibility.
                    </p>
                </div>
                <div class="col-md-4 col-xl-3 py-3 py-md-5 px-md-4">
                    <i class="fad fa-users fa-3x mb-2"></i>
                    <h3 class="text-white">For users</h3>
                    <p class="lead">
                        Portable, documented and easy&nbsp;to&nbsp;use workflows.<br />Pipelines that you can trust.
                    </p>
                </div>
                <div class="col-md-4 col-xl-3 py-3 py-md-5 px-md-4">
                    <i class="fad fa-laptop-code fa-3x mb-2"></i>
                    <h3 class="text-white">For developers</h3>
                    <p class="lead">
                        Companion templates and tools help to validate your code and simplify common tasks.
                    </p>
                </div>
            </div>
            <div>
                <p class="d-flex position-relative justify-content-center text-white m-0 pb-3">
                    <img src={NatureBiotech} alt="Nature Biotechnology" width="60px" class="float-start me-3" />
                    <a
                        class="text-white stretched-link text-decoration-none d-flex flex-column justify-content-center"
                        href="https://doi.org/10.1038/s41587-020-0439-x"
                        target="_blank"
                    >
                        nf-core is published in Nature Biotechnology!
                        <span class="underline m-auto"
                            ><em>Nat Biotechnol</em>
                            <strong>38</strong>, 276–278 (2020).
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</BaseLayout>
