---
import Icon from 'astro-icon';
import NfCoreLogoDarkbg from '@assets/logos/nf-core-logo-darkbg.svg?raw';
import NfCoreLogo from '@assets/logos/nf-core-logo.svg?raw';
import ContributorCarousel from '@components/ContributorCarousel.svelte';
import EventBanner from '@components/event/EventBanner.astro';
import HomepageCard from '@components/homepage/HomepageCard.astro';
import HomepageVideos from '@components/homepage/HomepageVideos.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import FuzzySearch from '@components/FuzzySearch.svelte';
import { Code } from 'astro/components';

import pipelines_json from '@public/pipelines.json';
const pipelines = pipelines_json.remote_workflows;
const pipeline_links = pipelines.map((pipeline) => {
    return {
        name: pipeline.name,
        href: pipeline.name + '/' + pipeline.releases[0].tag_name,
    };
});
---

<BaseLayout>
    <div class="homepage-header">
        <EventBanner />
        <div class="homepage-header-contents col-md-5">
            <h1>
                <div class="hide-dark">
                    <Fragment set:html={NfCoreLogo} />
                </div>
                <div class="hide-light">
                    <Fragment set:html={NfCoreLogoDarkbg} />
                </div>
            </h1>
            <p class="lead font-weight-normal">
                A community effort to collect a curated set of analysis pipelines built using Nextflow.
            </p>
            <div class="homepage-cta-flex mb-5">
                <a class="homepage-cta" href="/pipelines/">View Pipelines</a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <FuzzySearch possibleResults={pipeline_links} placeholder="Search Pipelines" client:idle />
    </div>

    <div class="triangle-up text-bg-success"></div>
    <div class="homepage-intro text-bg-success">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 col-xl-3 py-3 py-md-5 px-md-4">
                    <i class="fa-duotone fa-industry-alt fa-3x mb-2"></i>
                    <h3 class="text-white">For facilities</h3>
                    <p class="lead">
                        Highly optimised pipelines with excellent reporting. Validated releases ensure reproducibility.
                    </p>
                </div>
                <div class="col-md-4 col-xl-3 py-3 py-md-5 px-md-4">
                    <i class="fa-duotone fa-users fa-3x mb-2"></i>
                    <h3 class="text-white">For users</h3>
                    <p class="lead">
                        Portable, documented and easy&nbsp;to&nbsp;use workflows.<br />Pipelines that you can trust.
                    </p>
                </div>
                <div class="col-md-4 col-xl-3 py-3 py-md-5 px-md-4">
                    <i class="fa-duotone fa-laptop-code fa-3x mb-2"></i>
                    <h3 class="text-white">For developers</h3>
                    <p class="lead">
                        Companion templates and tools help to validate your code and simplify common tasks.
                    </p>
                </div>
            </div>
            <div>
                <p class="d-flex position-relative justify-content-center text-white m-0 pb-3">
                    <Icon name="nature_biotech" class="float-start me-3" width="60px" />
                    <a
                        class="text-white stretched-link text-decoration-none d-flex flex-column justify-content-center"
                        href="https://doi.org/10.1038/s41587-020-0439-x"
                        target="_blank"
                    >
                        nf-core is published in Nature Biotechnology!
                        <span class="underline m-auto"
                            ><em>Nat Biotechnol</em>
                            <strong>38</strong>, 276–278 (2020).
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="triangle-down bg-success"></div>
    <div class="container py-5 text-center lead" id="features">
        <p>Nextflow is an incredibly powerful and flexible workflow language.</p>
        <p><strong>nf-core</strong> pipelines adhere to strict guidelines - if one works, they all will.</p>
    </div>

    <div id="features" class="container homepage-feature-boxes pb-5">
        <h3 class="mb-4 text-center">Fully featured pipelines</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <HomepageCard title="Documentation" fontawesome="fa-solid fa-books text-success">
                    Extensive documentation covering installation, usage and description of output files ensures that
                    you won't be left in the dark.
                </HomepageCard>
            </div>
            <div class="col">
                <HomepageCard title="Portable and reproducible" fontawesome="fas fa-server text-success">
                    Pipelines follow best-practices to ensure maximum portability and reproducibility. The large
                    community makes the pipelines exceptionally well tested and easy to run.
                </HomepageCard>
            </div>
            <div class="col">
                <HomepageCard title="Stable Releases" icon="line-md:check-list-3-twotone" icon_class="text-success">
                    nf-core pipelines use GitHub releases to tag stable versions of the code and software, making
                    pipeline runs totally reproducible.
                </HomepageCard>
            </div>

            <div class="col">
                <HomepageCard title="CI Testing" icon="logos:github-actions">
                    Every time a change is made to the pipeline code, nf-core pipelines use continuous-integration
                    testing to ensure that nothing has broken.
                </HomepageCard>
            </div>

            <div class="col">
                <HomepageCard title="Packaged software" fontawesome="fa-duotone fa-box-alt docker">
                    Pipeline dependencies are automatically downloaded and handled using Docker, Singularity, Conda or
                    others. No need for any software installations.
                </HomepageCard>
            </div>
            <div class="col">
                <HomepageCard title="Cloud-ready" icon="logos:aws" icon_dark="mdi:aws">
                    Pipelines are tested on AWS after every release. You can even browse results live on the website and
                    use outputs for your own benchmarking.
                </HomepageCard>
            </div>
        </div>
    </div>

    <div class="bg-body-tertiary pt-4 pb-5">
        <div id="developers" class="container homepage-feature-boxes">
            <h3 class="mb-4 text-center">Developers: Not just another registry</h3>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <HomepageCard
                        title="Develop with the community"
                        fontawesome="fa-duotone fa-people-carry text-secondary"
                        btn_txt="Join Slack"
                        btn_href="join/"
                    >
                        Come and talk to us <em>before</em> you start writing a pipeline to find collaborators and check
                        that your pipeline is suitable for nf-core.
                    </HomepageCard>
                </div>
                <div class="col">
                    <HomepageCard
                        title="Start from the template"
                        fontawesome="fa-solid fa-wand-magic-sparkles text-secondary"
                        btn_txt="Read the docs"
                        btn_href="docs/contributing/adding_pipelines/"
                    >
                        All pipelines, modules and subworkflows must be based on our template and be created using
                        <code>nf-core</code>
                        <a href="/tools">tools</a>. An automated sync keeps pipelines up to date.
                    </HomepageCard>
                </div>
                <div class="col">
                    <HomepageCard
                        title="Collaborate, don't duplicate"
                        fontawesome="fa-duotone fa-code-merge text-secondary"
                        btn_txt="See the guidelines"
                        btn_href="docs/contributing/guidelines/"
                    >
                        We only allow one pipeline per data type / analysis type. If a similar pipeline exists we'll ask
                        you to add to that instead of making a new workflow.
                    </HomepageCard>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-body-secondary py-5">
        <HomepageVideos
            videos={[
                ['gUM9acK25tQ', 'Introduction to nf-core', '1:01'],
                ['cXBYusdjrc0', 'Bytesize: How nf-core configs work', '15:00'],
                ['FFTNVbdD5pQ', 'Bytesize: Pipeline code walkthrough', '20:00'],
                ['OvtCc855Vek', 'Tutorial: Running pipelines', '17:00'],
            ]}
        />
    </div>

    <div class="bg-dark py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 id="get-started" class="text-white">Get started in minutes</h2>
                    <div class="text-white-50">
                        <p>Nextflow lets you run nf-core pipelines on virtually any computing environment.</p>
                        <p>
                            Most nf-core genomics pipelines come with built-in support for
                            <a href="https://ewels.github.io/AWS-iGenomes/" target="_blank" style="white-space:nowrap;">
                                AWS-iGenomes</a
                            >, with genome references for over 30 common species.
                        </p>
                        <p>
                            The nf-core companion tool makes it easy to list all available nf-core pipelines and shows
                            which are available locally. Local versions are checked against the latest available
                            release.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card text-white bg-secondary border-secondary" style="--bs-bg-opacity: .3;">
                        <div class="card-body" id="homepage-code-example">
                            <Code
                                lang="bash"
                                theme="github-dark-dimmed"
                                code={`# Install nextflow
curl -s https://get.nextflow.io | bash
mv nextflow ~/bin/

# Launch the RNAseq pipeline
nextflow run nf-core/rnaseq \\
    --input samplesheet.csv \\
    --output ./results/ \\
    --genome GRCh37 \\
    -profile docker

# Install nf-core tools
pip install nf-core

# List all nf-core pipelines and show available updates
nf-core list`}
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-body-secondary py-5">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 px-md-5 mb-5 mb-md-0">
                    <h3>See what's available</h3>
                    <p>
                        Check out the available pipelines to see if we have what you need. Each comes with release
                        details, keywords and a description.
                    </p>
                    <a class="btn btn-lg btn-success arrow-hover" href="/pipelines/"
                        ><span><i class="fas fa-toolbox me-1"></i> Available pipelines</span>
                    </a>
                </div>
                <div class="col-md-4 px-md-5 mb-5 mb-md-0">
                    <h3>Run a pipeline</h3>
                    <p>
                        Read the quickstart tutorial to learn how to get set up with the required software and tools,
                        and how to launch a nf-core pipeline.
                    </p>
                    <a class="btn btn-lg btn-success arrow-hover" href="/docs/usage/introduction/"
                        ><span><i class="fa-duotone fa-graduation-cap me-1"></i> Quickstart Tutorial</span>
                    </a>
                </div>
                <div class="col-md-4 px-md-5 mb-5 mb-md-0">
                    <h3>Get into the code</h3>
                    <p>
                        If you're interested in contributing to nf-core, take a look at the developer documentation to
                        see what's required.
                    </p>
                    <a class="btn btn-lg btn-success arrow-hover" href="/docs/contributing/adding_pipelines/"
                        ><span><i class="fa-duotone fa-code me-1"></i> Developer docs</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <ContributorCarousel client:idle />

    <style lang="scss">
        @import '@styles/_variables.scss';
        .homepage-header .homepage-header-contents {
            margin: 4rem auto 0;
            padding: 0;
            text-align: center;
        }
        .homepage-header-fa-background {
            position: absolute;
            top: 10px;
            left: 30px;
            font-size: 16em;
            opacity: 0.2;
        }

        /* Fancy call to action button on homepage
Based on https://codepen.io/wintr/pen/beBJBb */
        .homepage-cta-flex {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
        }
        .homepage-cta {
            width: 100px;
            height: 100px;
            line-height: 20px;
            padding: 30px 0;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: relative;
            transition: 0.3s all ease;
            font-size: 14px;
            color: $nf-core-color;
            font-weight: bold;
            z-index: 0;

            &:after {
                transition: 0.3s all ease;
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                border-radius: 3px;
                border: 2px solid $nf-core-color;
            }
            &:before {
                content: '';
                position: absolute;
                border-radius: 3px;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                background: $gray-500;
                opacity: 0.15;
                z-index: -1;
                transition: 0.3s all ease;
            }
            &:hover,
            &:focus {
                color: $nf-core-color;
                text-decoration: none;
            }
            &:hover:after,
            &:focus:after {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:active {
                -webkit-transform: scale(1);
                transform: scale(1);
                color: $body-bg;
            }
            &:active:before {
                background-color: $nf-core-color;
            }
            &:active:after {
                border-color: $nf-core-color;
            }
        }

        .homepage-intro {
            .container .row div {
                text-align: center;
            }
        }
    </style>
    <style lang="scss" is:global>
        #homepage-code-example {
            pre {
                background-color: transparent !important;
            }
        }
    </style>
</BaseLayout>
