---
import BaseLayout from '../layouts/BaseLayout.astro';
import NfCoreLogo from '../images/logos/nf-core-logo.svg';
import NfCoreLogoDarkbg from '../images/logos/nf-core-logo-darkbg.svg';
import NatureBiotech from '../images/homepage/nature_biotech.svg';

import { Icon } from 'astro-icon';
---

<BaseLayout>
    <div class="homepage-header">
        <!-- TODO: HIGHLIGHT UPCOMING / ONGOING EVENTS -->
        <div class="homepage-header-contents col-md-5">
            <h1>
                <img src={NfCoreLogo} class="hide-dark" />
                <img src={NfCoreLogoDarkbg} class="hide-light" />
            </h1>
            <p class="lead font-weight-normal">
                A community effort to collect a curated set of analysis pipelines built using Nextflow.
            </p>
            <div class="homepage-cta-flex mb-5">
                <a class="homepage-cta" href="/pipelines">View Pipelines</a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <form class="searchbar_form homepage_search" action="search" method="get">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Search" name="q" required />
                <button type="submit" class="btn btn-outline-success">Search</button>
            </div>
        </form>
    </div>

    <div class="homepage-intro hexagon">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 col-xl-3 py-3 py-md-5 px-md-4">
                    <i class="fad fa-industry-alt fa-3x mb-2"></i>
                    <h3 class="text-white">For facilities</h3>
                    <p class="lead">
                        Highly optimised pipelines with excellent reporting. Validated releases ensure reproducibility.
                    </p>
                </div>
                <div class="col-md-4 col-xl-3 py-3 py-md-5 px-md-4">
                    <i class="fad fa-users fa-3x mb-2"></i>
                    <h3 class="text-white">For users</h3>
                    <p class="lead">
                        Portable, documented and easy&nbsp;to&nbsp;use workflows.<br />Pipelines that you can trust.
                    </p>
                </div>
                <div class="col-md-4 col-xl-3 py-3 py-md-5 px-md-4">
                    <i class="fad fa-laptop-code fa-3x mb-2"></i>
                    <h3 class="text-white">For developers</h3>
                    <p class="lead">
                        Companion templates and tools help to validate your code and simplify common tasks.
                    </p>
                </div>
            </div>
            <div>
                <p class="d-flex position-relative justify-content-center text-white m-0 pb-3">
                    <img src={NatureBiotech} alt="Nature Biotechnology" width="60px" class="float-start me-3" />
                    <a
                        class="text-white stretched-link text-decoration-none d-flex flex-column justify-content-center"
                        href="https://doi.org/10.1038/s41587-020-0439-x"
                        target="_blank"
                    >
                        nf-core is published in Nature Biotechnology!
                        <span class="underline m-auto"
                            ><em>Nat Biotechnol</em>
                            <strong>38</strong>, 276–278 (2020).
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="container py-5 text-center lead" id="features">
        <p>Nextflow is an incredibly powerful and flexible workflow language.</p>
        <p><strong>nf-core</strong> pipelines adhere to strict guidelines - if one works, they all will.</p>
    </div>

    <div id="features" class="container homepage-feature-boxes pb-5">
        <h3 class="mb-4 text-center">Fully featured pipelines</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body d-flex align-items-center">
                        <div>
                            <h5 class="card-title">Documentation</h5>
                            <p class="card-text">
                                Extensive documentation covering installation, usage and description of output files
                                ensures that you won't be left in the dark.
                            </p>
                        </div>
                        <Icon name="noto:clipboard" class="ms-3" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body d-flex align-items-center">
                        <div>
                            <h5 class="card-title">CI Testing</h5>
                            <p class="card-text">
                                Every time a change is made to the pipeline code, nf-core pipelines use
                                continuous-integration testing to ensure that nothing has broken.
                            </p>
                        </div>
                        <Icon name="logos:github-actions" class="ms-3" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body d-flex align-items-center">
                        <div>
                            <h5 class="card-title">Stable Releases</h5>
                            <p class="card-text">
                                nf-core pipelines use GitHub releases to tag stable versions of the code and software,
                                making pipeline runs totally reproducible.
                            </p>
                        </div>
                        <Icon name="line-md:check-list-3-twotone" class="ms-3" color="#82D948" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body d-flex align-items-center">
                        <div>
                            <h5 class="card-title">Packaged software</h5>
                            <p class="card-text">
                                Pipeline dependencies are automatically downloaded and handled using Docker,
                                Singularity, Conda or others. No need for any software installations.
                            </p>
                        </div>
                        <i class="fad fa-box-alt fa-5x text-info ms-3"></i>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body d-flex align-items-center">
                        <div>
                            <h5 class="card-title">Portable and reproducible</h5>
                            <p class="card-text">
                                Pipelines follow best-practices to ensure maximum portability and reproducibility. The
                                large community makes the pipelines exceptionally well tested and easy to run.
                            </p>
                        </div>
                        <i class="fas fa-server fa-5x text-success ms-3"></i>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body d-flex align-items-center">
                        <div>
                            <h5 class="card-title">Cloud-ready</h5>
                            <p class="card-text">
                                Pipelines are tested on AWS after every release. You can even browse results live on the
                                website and use outputs for your own benchmarking.
                            </p>
                        </div>
                        <Icon name="logos:aws" class="ms-3 hide-dark" />
                        <Icon name="mdi:aws" class="ms-3 hide-light" color="white" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-secondary pt-4 pb-5" style="--bs-bg-opacity: .1;">
        <div id="developers" class="container homepage-feature-boxes">
            <h3 class="mb-4 text-center">Developers: Not just another registry</h3>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Develop <u>with</u> the community</h5>
                            <div class="d-flex align-items-center">
                                <p class="card-text">
                                    Come and talk to us <em>before</em> you start writing a pipeline to find collaborators
                                    and check that your pipeline is suitable for nf-core.
                                </p>
                                <i class="fad fa-people-carry fa-5x text-secondary ms-3"></i>
                            </div>
                            <a href="join" class="btn btn-sm btn-outline-success arrow-hover"
                                ><span>Join Slack</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Start from the template</h5>
                            <div class="d-flex align-items-center">
                                <p class="card-text">
                                    All pipelines and modules must be based on our template and be created using <code
                                        >nf-core</code
                                    >
                                    <a href="/tools">tools</a>. An automated sync keeps pipelines up to date.
                                </p>
                                <i class="fas fa-magic fa-5x text-secondary ms-3"></i>
                            </div>
                            <a href="contributing/adding_pipelines" class="btn btn-sm btn-outline-success arrow-hover"
                                ><span>Read the docs</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Collaborate, don't duplicate</h5>
                            <div class="d-flex align-items-center">
                                <p class="card-text">
                                    We only allow one pipeline per data type / analysis type. If a similar pipeline
                                    exists we'll ask you to add to that instead of making a new workflow.
                                </p>
                                <i class="fad fa-code-merge fa-5x text-secondary ms-3"></i>
                            </div>
                            <a href="contributing/guidelines" class="btn btn-sm btn-outline-success arrow-hover"
                                ><span>See the guidelines</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
