---
import PageLayout from '@layouts/PageLayout.astro';
---

<PageLayout
    title="nf-core in numbers"
    subtitle="Measuring activity across the nf-core community"
    mainpage_container={false}
>
    <div class="iframe-container w-100 d-flex align-items-start vh-100">
        <i class="mt-5 m-auto text-success fa-regular fa-spinner-third fa-spin fa-3x"></i>
        <iframe
            class="d-none"
            src="https://nf-co.re/stats"
            onload="this.classList.remove('d-none'); this.previousElementSibling.classList.add('d-none');"
            title="pipeline_heath"
            style="border:none;"
            width="100%"
            height="100%"></iframe>
    </div>
</PageLayout>
