---
import PageLayout from '@layouts/PageLayout.astro';
---

<PageLayout title="" subtitle="" mainpage_container={false}>
    <div class="vh-100">
        <iframe src="https://nf-co.re/stats#community" height="100%" width="100%"></iframe>
    </div>
</PageLayout>
