[functions]
external_node_modules = ["vscode-oniguruma","shiki"]
node_bundler = "esbuild"
[build]
environment = { NODE_VERSION = "22" }
command = "npm run build -w sites/main-site"
[images]
remote_images = ["https://raw.githubusercontent.com/.*", "https://images.unsplash.com/.*", "https://avatars.githubusercontent.com/.*"]
[[headers]]
for = "/_astro/*"
[headers.values]
Access-Control-Allow-Origin = "*"
