---
import ParameterItem from "./ComponentParamItem.astro";

const { params, depth = 0 } = Astro.props;

interface Props {
    params: any[];
    depth?: number;
}

// Ensure params is always an array
const normalizedParams = Array.isArray(params) ? params : [params];
---

{
    normalizedParams.map((param, i) => {
        const [name, value] = Object.entries(param)[0];
        return (
            <div class:list={[{ "card card-body mt-3 py-1": depth === 0 }]}>
                <ParameterItem
                    name={name}
                    value={value}
                    depth={depth}
                    lastItem={i === normalizedParams.length - 1 && depth > 0}
                />
            </div>
        );
    })
}

<style></style>
