---
import contributors_yml from '../config/contributors.yaml';
const contributors = contributors_yml.contributors.sort((a, b) => 0.5 - Math.random()).slice(0, 5);
---

<div id="community" class="homepage-usedby">
    <div class="container py-5">
        <h2>
            <a class="btn btn-success float-end d-none d-md-inline" href="/community#organisations">
                See a complete list &raquo;
            </a>
            <a href="/community#organisations">Used by groups all over the world</a>
        </h2>
        <p>The nf-core community is spread all over the globe and includes a large number of contributing users.</p>
        <p>
            <a class="btn btn-success d-inline d-md-none" href="/community#organisations">
                See a complete list &raquo;
            </a>
        </p>

        <div class="homepage_contrib_logos">
            {
                contributors.map(
                    (contributor) =>
                        contributor.image_fn && (
                            <a href={'/community#' + contributor.full_name.toLowerCase().replace(/[^a-z]+/i, '-')}>
                                <img
                                    src={'/images/contributors/white/' + contributor.image_fn}
                                    class="my-2 my-lg-3 mx-2"
                                    data-bs-placement="bottom"
                                    data-bs-toggle="tooltip"
                                    title={contributor.full_name}
                                />
                            </a>
                        )
                )
            }
        </div>
    </div>
</div>

<script>
    // Homepage contributor images fading in and out
    var h_contrib_imgs = document.querySelectorAll('.homepage_contrib_logos a');
    if (h_contrib_imgs.length > 0) {
        setTimeout(function () {
            switch_contrib_img();
        }, 3000);
    }
    function switch_contrib_img() {
        let d = document.querySelector<HTMLElement>('.homepage_contrib_logos a:first-child');

        // Animate the first image off the screen and then remove
        var margin_left = d.offsetWidth * -1;
        console.log(margin_left);

        //
        // TODO: this is not working
        // FIXME: fix this
        //
        d.animate([{ transform: 'translateX(0px)' }, { transform: 'translateX(' + margin_left + 'px)' }], {
            duration: 10000,
            iterations: 1,
        }).onfinish = function () {
            // Move the image to the end of the list (should be off the screen to the right)
            d.parentNode.appendChild(d);
            // Run this again in 3 seconds
            setTimeout(function () {
                switch_contrib_img();
            }, 3000);
        };
    }
</script>

<style lang="scss">
    @import '../styles/_base.scss';

    .homepage-usedby {
        position: relative;
        display: block;
        color: $white;
        z-index: 0;
        h2,
        a {
            color: $white;
            text-decoration: none;
        }
        p,
        p a {
            color: rgba($white, 0.8);
        }
        &::before {
            content: '';
            background: $black;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -2;
        }
        &::after {
            content: '';
            background: url('/flowcell.jpg') no-repeat;
            background-attachment: fixed;
            opacity: 0.8;
            background-size: cover;
            background-position: right top;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
        img {
            height: 80px;
        }
        @media (max-width: 576px) {
            img {
                height: 50px;
                margin: 0.5rem 1rem 0.5rem 0;
            }
        }
    }
    .homepage_contrib_logos {
        overflow: hidden;
        white-space: nowrap;
    }
</style>
