---
import FooterSocial from './FooterSocial.astro';
import DarkModeSwitch from './DarkModeSwitch.astro';
import NfCoreLogo from '../images/logos/nf-core-logo.svg';
import NfCoreLogoDarkbg from '../images/logos/nf-core-logo-darkbg.svg';
---

<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="text-center text-lg-start col-12 col-lg mb-4">
                <a href="/">
                    <img height="30px" src={NfCoreLogo} alt="nf-core logo" class="hide-dark" />
                    <img height="30px" src={NfCoreLogoDarkbg} alt="nf-core logo" class="hide-light" />
                </a>
                <div class="small d-block mb-3">Making awesome workflows since 2018.</div>
                <div class="mb-1 small">
                    Supported by:
                    <FooterSocial link="/about#czi-eoss" title="Chan Zuckerberg Initiative" icon="czi" />,
                    <FooterSocial link="/about#microsoft-azure" title="Microsoft Azure" icon="logos:microsoft-azure" />
                    <span class="ms-1">and</span>
                    <FooterSocial link="/about#aws" title="Amazon Web Services" icon="logos:aws" icon_dark="mdi:aws" />
                </div>
            </div>
            <div class="col-12 col-lg text-center small mb-4">
                <DarkModeSwitch />
                <div class="social-icons d-print-none">
                    <FooterSocial
                        marginLeft="0"
                        marginRight="1rem"
                        href="https://nfcore.slack.com/"
                        title="Slack"
                        icon="logos:slack-icon"
                    />
                    <FooterSocial
                        marginLeft="0"
                        marginRight="1rem"
                        href="https://github.com/nf-core/"
                        title="GitHub"
                        icon="logos:github-icon"
                    />
                    <FooterSocial
                        marginLeft="0"
                        marginRight="1rem"
                        href="https://twitter.com/nf_core"
                        title="Twitter"
                        icon="logos:twitter"
                    />
                    <FooterSocial
                        marginLeft="0"
                        marginRight="1rem"
                        href="https://mstdn.science/@nf_core"
                        title="Mastodon"
                        icon="logos:mastodon-icon"
                    />
                    <FooterSocial
                        marginLeft="0"
                        marginRight="1rem"
                        href="https://www.youtube.com/c/nf-core"
                        title="YouTube"
                        icon="logos:youtube-icon"
                    />
                </div>
            </div>
            <div class="col-12 col-lg text-center text-lg-end mb-4">
                <div class="d-block small">
                    See the source code for this website on GitHub:<br />
                    <a href="https://github.com/nf-core/nf-co.re" target="_blank">
                        https://github.com/nf-core/nf-co.re
                    </a>
                </div>
            </div>
        </div>
    </div>

    <style lang="scss">
        @import '../styles/_base.scss';
        footer {
            color: $gray-600;
            &.footer {
                padding: 4rem 0 3rem;
                background-color: $gray-200;
                h5 {
                    color: $gray-800;
                }
            }
            &.subfooter {
                padding: 2rem 0;
                background-color: darken($gray-100, 2.5%);
            }
            a,
            a:hover,
            a:focus,
            a:active {
                text-decoration: none;
                color: $gray-600;
            }
            a:hover,
            a:focus,
            a:active {
                text-decoration: underline;
            }
        }
    </style>
</footer>
