---
import { Icon } from 'astro-icon';

const {
    href,
    link,
    title,
    icon,
    icon_dark,
    additionalClass = '',
    marginLeft = '0.5rem',
    marginRight = '0',
} = Astro.props;
---

<a
    href={href || link}
    rel={href && 'me'}
    target={href && '_blank'}
    title={title}
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    class={'text-decoration-none ' + additionalClass}
>
    <Icon name={icon} class={icon_dark && 'hide-dark'} />
    {icon_dark && <Icon name={icon_dark} color="white" class="hide-light" />}
</a>

<style lang="scss" define:vars={{ marginLeft, marginRight }}>
    @import '../styles/_variables.scss';
    a {
        margin-left: var(--marginLeft);
        margin-right: var(--marginRight);
        color: $body-color;
        svg {
            width: 20px;
            filter: opacity(80%);
            transition: filter 0.1s ease-in-out;
        }
        &:hover,
        &:focus,
        &:active {
            svg {
                filter: opacity(100%);
            }
        }
    }
</style>
