---
const { level, id } = Astro.props;

export interface Props {
    level: number;
    id: string;
}
---

<Heading level={level} id={id}>
    <slot /><a aria-hidden="true" tabindex="-1" href={'#' + id}></a><i class="ms-1 fas invisible" aria-hidden="true"
    ></i>
</Heading>
