---
import { Icon } from 'astro-icon';

const {
    href,
    link,
    title,
    icon,
    icon_dark,
    additionalClass = '',
    marginLeft = '0.5rem',
    marginRight = '0',
    color,
} = Astro.props;
---

<a
    href={href || link}
    rel={href && 'me'}
    target={href && '_blank'}
    title={title}
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    class={'text-decoration-none ' + additionalClass}
>
    <Icon name={icon} class={icon_dark && 'hide-dark'} color={color} />
    {icon_dark && <Icon name={icon_dark} color="white" class="hide-light" />}
</a>

<style lang="scss" define:vars={{ marginLeft, marginRight }}>
    @import '@styles/_variables.scss';
    a {
        margin-left: var(--marginLeft);
        margin-right: var(--marginRight);
        color: $body-color;
        svg {
            width: 20px;
        }
    }

    a.monochrome {
        svg {
            width: 20px;
            filter: brightness(0.2);
            transition: filter 0.1s ease-in-out;
        }
        &:hover,
        &:focus,
        &:active {
            svg {
                filter: brightness();
            }
        }
    }
    :global([data-bs-theme='dark']) {
        a.monochrome {
            svg {
                filter: brightness(0) invert(1);
            }
            &:hover,
            &:focus,
            &:active {
                svg {
                    filter: brightness(1) invert(0);
                }
            }
        }
    }
</style>
