---
import EventIndicator from './EventIndicator.svelte';
import NavbarToc from './NavbarToc.svelte';
import NavbarDocsNav from '@components/NavbarDocsNav.svelte';
import NavbarDocsNavTitle from '@components/NavbarDocsNavTitle.astro';
import NavbarDocsNavMenu from '@components/NavbarDocsNavMenu.astro';
import SidebarLeft from './SidebarLeft.astro';

export interface Props {
    navTocHeadings?: object[];
    title?: string;
}

const { navTocHeadings = [], title } = Astro.props;

const NfCoreLogoDarkbg = '/images/logos/nf-core-logo-darkbg.svg';
const NfCoreLogo = '/images/logos/nf-core-logo.svg';
---

<nav
    class="navbar fixed-top navbar-expand-md bg-body-secondary text-body-secondary shadow-sm d-print-none py-0 py-md-2"
>
    <div class="container">
        <a class="navbar-brand d-md-none" href="/">
            <img height="25px" src={NfCoreLogo} class="hide-dark" alt="nf-core logo" />
            <img height="25px" src={NfCoreLogoDarkbg} class="hide-light" alt="nf-core logo" />
        </a>
        {navTocHeadings.length > 0 && <NavbarToc headings={navTocHeadings} client:idle />}
        <button
            class="navbar-toggler border-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center align-items-md-stretch" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item p-1">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link" href="/pipelines">Pipelines</a>
                </li>
                <li class="nav-item p-1 dropdown">
                    <a class="nav-link dropdown-toggle" href="/about" role="button" data-bs-toggle="dropdown">
                        Resources
                    </a>
                    <ul class="dropdown-menu bg-body-secondary text-body-secondary shadow-sm">
                        <li><a class="dropdown-item" href="/configs">Shared Configs</a></li>
                        <li><a class="dropdown-item" href="/tools">Tools</a></li>
                        <li><a class="dropdown-item" href="/modules">Modules</a></li>
                        <li><a class="dropdown-item" href="/subworkflows">Subworkflows</a></li>
                    </ul>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link" href="/docs">Docs</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link" href="/events">
                        <EventIndicator client:idle />
                        Events
                    </a>
                </li>
                <li class="nav-item p-1 dropdown">
                    <a class="nav-link dropdown-toggle" href="/about" role="button" data-bs-toggle="dropdown"> About</a>
                    <ul class="dropdown-menu bg-body-secondary text-body-secondary shadow-sm">
                        <li><span class="dropdown-header">Community</span></li>
                        <li><a class="dropdown-item" href="/community">Blog</a></li>
                        <li><a class="dropdown-item" href="/community">Contributors</a></li>
                        <li><a class="dropdown-item" href="/about">About nf-core</a></li>
                        <li><a class="dropdown-item" href="/code_of_conduct">Code of conduct</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><span class="dropdown-header">Initiatives</span></li>
                        <li><a class="dropdown-item" href="/mentorships">Mentorships</a></li>
                        <li><a class="dropdown-item" href="/publications">Publications</a></li>
                        <li><a class="dropdown-item" href="/stats">Statistics</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/join">Join nf-core</a></li>
                    </ul>
                </li>
            </ul>
            <hr class="d-md-none" />
            <a class="d-md-none btn d-block btn-success mb-3" href="/join"> Join nf-core</a>
            <a class="d-none d-lg-block btn btn-success ms-auto align-self-center" href="/join"> Join nf-core</a>
        </div>
    </div>
</nav>
{
    Astro.url.pathname.includes('/docs/') && (
        <NavbarDocsNav client:load>
            <NavbarDocsNavTitle slot="title" title={title} />
            <SidebarLeft slot="menu" />
        </NavbarDocsNav>
    )
}

<style lang="scss">
    @import '../styles/_variables.scss';

    .navbar.fixed-top {
        .navbar-brand {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
        }
        // add wider margins on larger screens
        @include media-breakpoint-up(md) {
            padding: 0.2rem 1rem;
            .navbar-nav > li > a {
                margin-left: 1rem;
                margin-right: 1rem;
                transition: ease-in-out color 0.1s;
            }
        }
        @include media-breakpoint-down(md) {
            .navbar-brand {
                margin-left: 0;
                margin-right: 0;
            }
        }
        li .dropdown-menu {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 0;
            margin-top: calc($navbar-padding-y/3);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        }
        .collapse.show li .dropdown-menu {
            background-color: transparent;
        }
        .navbar-toggler:focus-within {
            box-shadow: none;
        }
    }
</style>
