---
---

<div class="mainpage-heading">
  <h1 class="display-2">nf-core/{Astro.props.title}</h1>
  <p class="lead">{Astro.props.subtitle}</p>
</div>
<style>
.mainpage-heading {
    background-color: #1d9655;
    color: #fafafa;
    padding: 3rem 0 5rem 0;
    clip-path: polygon(100% 0%, 100% 85%, 50% 100%, 0 85%, 0% 0%);
}
</style>
