---
const { content, lastChild = false } = Astro.props;

export interface Props {
    content: {
        title: string;
        value?: string | number;
        icon?: string;
    }[];
    lastChild?: boolean;
}
---

<div class:list={['row', 'g-0', { 'border-bottom': !lastChild }]}>
    {
        content.map((entry) => (
            <div class="col mb-1">
                <h6 class="text-body-secondary my-1">
                    {entry.icon && <i class={entry.icon + ' fa-fw me-1'} />}
                    {entry.title}
                </h6>
                <div class="overflow-x-auto" set:html={entry.value}>
                    <slot />
                </div>
            </div>
        ))
    }
</div>

<style lang="scss">
    .col > h6 {
        font-size: 0.8rem;
    }
</style>
