---
import type { SidebarEntry } from '@utils/types';
import SidebarSubNav from '@components/sidebar/SidebarSubNav.astro';

export interface Props {
    items: SidebarEntry[];
}

let { items } = Astro.props;
let url = Astro.url.pathname.endsWith('/') ? Astro.url.pathname.slice(0, -1) : Astro.url.pathname;
url = url.replace(/\.html$/, '');
---

<div class:list={['nav']}>
    <div class="w-100 sticky-top-under mx-3">
        <SidebarSubNav items={items} />
    </div>
</div>

<style lang="scss">
    @import '@styles/_variables.scss';
    div.sticky-top-under {
        max-width: 25rem;
    }
</style>
