---
import { Icon } from 'astro-icon';
import { CollectionEntry } from 'astro:content';

export interface Props {
    md_github_url?: string;
    prev_page: CollectionEntry<'docs'> | string;
    next_page: CollectionEntry<'docs'> | string;
}
const { md_github_url, prev_page, next_page } = Astro.props;
---

<footer class="d-flex bg-body-tertiary text-body-tertiary align-items-start">
    <div class="flex-fill text-body w-100 h-100">
        {
            prev_page && (
                <a
                    class="btn nav-btn rounded-0 d-flex flex-column align-items-end py-md-3 py-2 px-3  text-body text-decoration-none text-end"
                    href={'/docs/' + prev_page.slug}
                >
                    <span class="text-muted d-none d-md-inline">Previous: </span>
                    <i class="fa-solid fa-arrow-left me-1 d-md-none" />
                    <span>{prev_page.data.title}</span>
                </a>
            )
        }
    </div>
    <div class="flex-shrink-1 text-center align-self-center">
        <p class="m-0 pt-0 pt-md-1 px-3 text-center d-flex flex-column align-items-center">
            <i class="fab fa-github me-2 text-body"></i>
            <a class="md-link text-body" href={md_github_url}> Markdown source</a>
        </p>
    </div>
    <div class="flex-fill text-body w-100 h-100">
        {
            next_page && (
                <a
                    class="btn nav-btn rounded-0 d-flex flex-column align-items-start py-md-3 py-2 px-3 text-body text-decoration-none text-start"
                    href={'/docs/' + next_page.slug}
                >
                    <span class="text-muted d-none d-md-inline">Next: </span>
                    <i class="fa-solid fa-arrow-right ms-1 d-md-none" />
                    <span>{next_page.data.title}</span>
                </a>
            )
        }
    </div>
    <style lang="scss">
        @import '@styles/_variables.scss';
        svg {
            fill: currentColor;
            width: 2rem;
        }
        .nav-btn:hover {
            background-color: shade-color($body-tertiary-bg, 3%);
            &,
            & .text-muted {
                color: $gray-900 !important;
            }
        }
        @include media-breakpoint-up(md) {
            .md-link {
                white-space: nowrap;
            }
        }
    </style>
</footer>
