---
import NfCoreLogoDarkbg from '/images/logos/nf-core-logo-darkbg.svg';
import NfCoreLogo from '/images/logos/nf-core-logo.svg';
import FooterSocial from '@components/footer/FooterSocial.astro';
import ThemeSwitch from '@components/ThemeSwitch.svelte';
---

<footer class="footer bg-body-secondary text-body-secondary">
    <div class="container">
        <div class="row align-items-end">
            <div
                class="text-center text-lg-start col-12 col-lg d-flex flex-column align-self-stretch justify-content-between"
            >
                <div class="social-icons d-print-none mt-1 ms-1">
                    <FooterSocial
                        marginLeft="0"
                        marginRight="1rem"
                        href="https://nfcore.slack.com/"
                        title="Slack"
                        icon="logos:slack-icon"
                    />
                    <FooterSocial
                        marginLeft="0"
                        marginRight="1rem"
                        href="https://github.com/nf-core/"
                        title="GitHub"
                        icon="fa-brands:github"
                        icon_dark="fa-brands:github"
                        additionalClass="text-body"
                    />
                    <FooterSocial
                        marginLeft="0"
                        marginRight="1rem"
                        href="https://twitter.com/nf_core"
                        title="Twitter"
                        icon="logos:twitter"
                    />
                    <FooterSocial
                        marginLeft="0"
                        marginRight="1rem"
                        href="https://mstdn.science/@nf_core"
                        title="Mastodon"
                        icon="logos:mastodon-icon"
                    />
                    <FooterSocial
                        marginLeft="0"
                        marginRight="1rem"
                        href="https://www.youtube.com/c/nf-core"
                        title="YouTube"
                        icon="logos:youtube-icon"
                    />
                </div>
                <div class="mt-3">
                    <a href="/">
                        <img height="30px" src={NfCoreLogo} alt="nf-core logo" class="hide-dark" />
                        <img height="30px" src={NfCoreLogoDarkbg} alt="nf-core logo" class="hide-light" />
                    </a>
                    <div class="small d-block">Making awesome workflows since 2018.</div>
                </div>
            </div>
            <div class="col-12 col-lg text-center small">
                <div class="small mb-1">
                    <p class="mb-1">Supported by:</p>
                    <span class="text-center">
                        <FooterSocial link="/about#czi-eoss" title="Chan Zuckerberg Initiative" icon="czi" />
                        <span class="ms-1">+</span>
                        <FooterSocial
                            link="/about#microsoft-azure"
                            title="Microsoft Azure"
                            icon="logos:microsoft-azure"
                        />
                        <span class="ms-1">+</span>
                        <FooterSocial
                            link="/about#aws"
                            title="Amazon Web Services"
                            icon="logos:aws"
                            icon_dark="mdi:aws"
                        />
                    </span>
                </div>
            </div>
            <div
                class="col-12 col-lg text-center text-lg-end d-flex flex-column align-items-center align-items-md-end align-self-stretch justify-content-between mt-2 mt-md-0"
            >
                <ThemeSwitch client:load />
                <div class="d-block small">
                    See the source code for this website on GitHub:<br />
                    <a href="https://github.com/nf-core/nf-co.re" target="_blank">
                        https://github.com/nf-core/nf-co.re
                    </a>
                </div>
            </div>
        </div>
    </div>

    <style lang="scss">
        @import '@styles/_variables.scss';
        footer {
            padding: 2rem 0 3rem;
            & a {
                color: $gray-600;
                &:hover,
                &:focus,
                &:active {
                    text-decoration: underline;
                }
            }
        }
    </style>
</footer>
