---
import NfCoreLogoDarkbg from '@assets/logos/nf-core-logo-darkbg.svg?raw';
import NfCoreLogo from '@assets/logos/nf-core-logo.svg?raw';
import IconSocial from '@components/IconSocial.astro';
---

<footer class="footer bg-body-secondary text-body-secondary">
    <div class="container">
        <div class="row align-items-end">
            <div
                class="text-center text-lg-start col-12 col-lg d-flex flex-column align-self-stretch justify-content-between"
            >
                <div class="mt-3">
                    <a href="/" class="text-decoration-none">
                        <div class="hide-dark">
                            <Fragment set:html={NfCoreLogo} />
                        </div>
                        <div class="hide-light">
                            <Fragment set:html={NfCoreLogoDarkbg} />
                        </div>
                    </a>
                    <div class="small d-block">Making awesome workflows since 2018.</div>
                </div>
            </div>
            <div class="col-12 col-lg text-center small">
                <div class="small mb-1">
                    <p class="mb-1">Supported by:</p>
                    <span class="text-center">
                        <IconSocial link="/about#czi-eoss" title="Chan Zuckerberg Initiative" icon="logos/czi" />
                        <span class="ms-1">+</span>
                        <IconSocial
                            link="/about#microsoft-azure"
                            title="Microsoft Azure"
                            icon="logos:microsoft-azure"
                        />
                        <span class="ms-1">+</span>
                        <IconSocial
                            link="/about#aws"
                            title="Amazon Web Services"
                            icon="logos:aws"
                            icon_dark="mdi:aws"
                        />
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg text-center text-lg-end mt-2 mt-md-0">
                <div class="small">
                    See the source code for this website on GitHub:<br />
                    <a href="https://github.com/nf-core/nf-co.re" target="_blank">
                        https://github.com/nf-core/nf-co.re
                    </a>
                </div>
            </div>
        </div>
    </div>

    <style lang="scss">
        @import '@styles/_variables.scss';
        .hide-light:has(svg),
        .hide-dark:has(svg) {
            height: 3rem;
            width: 7.5rem;
        }

        footer {
            padding: 2rem 0 3rem;
            & a {
                color: $gray-600;
                &:hover,
                &:focus,
                &:active {
                    text-decoration: underline;
                }
            }
        }
    </style>
</footer>
