---
import SubFooter from '@components/footer/SubFooter.astro';
export interface Props {
    md_github_url?: string;
    prev_page: { title: string; slug: string } | null;
    next_page: { title: string; slug: string } | null;
}
const { md_github_url, prev_page, next_page } = Astro.props;
---

<footer class="mb-3 mt-5 d-flex justify-content-between m-auto">
    {
        prev_page && (
            <div class="">
                <a
                    class="btn btn-outline-secondary d-inline-flex flex-column align-items-end py-md-3 py-2 px-3 px-md-5 text-decoration-none text-end"
                    href={prev_page.slug}
                >
                    <span class="d-none d-md-inline">Previous: </span>
                    <i class="fa-solid fa-arrow-left me-1 d-md-none" />
                    <span class="fw-semibold text-secondary-emphasis">{prev_page.title}</span>
                </a>
            </div>
        )
    }
    {
        next_page && (
            <div class="ms-auto">
                <a
                    class="btn btn-outline-secondary  d-inline-flex flex-column align-items-start py-md-3 py-2 px-3  px-md-5 text-decoration-none text-start"
                    href={next_page.slug}
                >
                    <span class="d-none d-md-inline">Next: </span>
                    <i class="fa-solid fa-arrow-right ms-1 d-md-none" />
                    <span class="fw-semibold text-secondary-emphasis">{next_page.title}</span>
                </a>
            </div>
        )
    }
</footer>
<style lang="scss">
    @import '@styles/_variables.scss';
    svg {
        fill: currentColor;
        width: 2rem;
    }
    footer {
        width: $content-width;
    }
    .btn-outline-secondary:hover .text-secondary-emphasis {
        color: var(--bs-btn-hover-color) !important;
    }
</style>
