
/*
 * Google Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700|Open+Sans:400,700');
body {
  color: #444444;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Maven Pro', sans-serif;
  color: #159957;
  font-weight: 700;
}
a {
  color: #1e6bb8;
}
strong {
  font-weight: 700;
}
blockquote {
  margin: 1rem 1rem 2rem;
  border-left: 5px solid #cccccc;
  padding-left: 0.5rem;
  color: #999999;
}
blockquote a {
  color: #999999;
  text-decoration: underline;
}
.bg-dark a, .homepage-usedby a {
  color: rgba(255,255,255,.5);
  text-decoration: underline;
}
.card_deck_card.card {
  margin-bottom: 1rem;
  min-width: 40%;
  max-width: 100%;
}
@media only screen and (max-width: 1000px) {
  .card_deck_card.card {
    min-width: 100%;
  }
}
/* Don't stretch the final card across the full row if an odd number */
@media only screen and (min-width: 1000px) {
  .card_deck_card.card {
    max-width: calc(50% - 30px);
  }
}
@media only screen and (max-width: 770px) {
  pre, code {
    font-size: 10px;
  }
}

.site-nav {
  padding: .2rem 1rem;
  background-color: rgba(240,240,240,.95);
}
.site-nav .navbar-brand {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.site-nav .navbar-nav > li > a {
  margin-left: 1rem;
  margin-right: 1rem;
  transition: ease-in-out color .1s;
}

.site-nav li .dropdown-menu {
  background-color: rgba(240,240,240,.95);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 0;
  margin-top: 3px;
}
.site-nav .collapse.show li .dropdown-menu {
  background-color: transparent;
}
.site-nav .dropdown-divider {
  border-color: #ccc;
}

.triangle:before {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  display: block;
  width: 100%;
  left: 0;
  height: 30px;
}
.triangle-up:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='100,100 50,0 0,100' style='fill:%2322ae63;' /%3E%3C/svg%3E");
}
.triangle-down:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='100,0 50,100 0,0' style='fill:%2322ae63;' /%3E%3C/svg%3E");
}

.btn-outline-success:not(:disabled):not(.disabled) {
    border-color: #22ae63;
    color: #22ae63;
}
.btn-outline-success:not(:disabled):not(.disabled):hover {
    background-color: #22ae63;
    color: #fff;
}
.btn-success:not(:disabled):not(.disabled) {
    background-color: #22ae63;
    border-color: #22ae63;
    color: #fff;
}
.btn-success:not(:disabled):not(.disabled):hover {
    background-color: #229b5a;
    border-color: #1e7f4b;
    color: #fff;
}
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).focus,
.btn-outline-success:not(:disabled):not(.disabled):focus,
.btn-success:not(:disabled):not(.disabled).focus,
.btn-success:not(:disabled):not(.disabled):focus {
  background-color: #229b5a;
  border-color: #1e7f4b;
  color: #fff;
}

.btn.arrow-hover span {
  display: inline-block;
  position: relative;
  transition: 0.3s all ease;
}
.btn.arrow-hover span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s all ease;
  font-size: 2rem;
  line-height: 1.5rem;
}
.btn.arrow-hover:hover span {
  padding-right: 27px;
}

.btn.arrow-hover:hover span:after {
  opacity: 1;
  right: -3px;
}

.btn.disabled .disabled btn:disabled {
  cursor: not-allowed;
}

code {
  background-color: rgba(220,220,220,0.3);
  border-radius: 3px;
  padding: 2px 6px;
  color: inherit;
}
.main-content pre {
  background-color: rgba(220,220,220,0.3);
  border-radius: 3px;
  border: 1px solid rgba(220,220,220,0.6);
  padding: 12px 15px;
  font-size: 14px;
}
.main-content pre code {
  background-color: transparent;
  padding: 0;
}

footer {
  padding: 4rem 0 5rem;
  background-color: rgba(240,240,240,.95);
}
footer h5 {
  color: #444444;
}

/*
 * Main pages
 */

.mainpage {
  margin-top: 3.4rem;
}
.mainpage-heading {
  background-color: #22ae63;
  color: #ffffff;
  padding: 3rem 0;
}
.mainpage-heading h1 {
  color: #ffffff;
}
.mainpage-heading code {
  color: #ffffff;
}
.main-content {
  min-height: 300px;
  margin-top: 1rem;
  margin-bottom: 6rem;
  font-size: 1.1rem;
  line-height: 1.6;
}
.main-content h1, .main-content h2, .main-content h3,
.main-content h4, .main-content h5, .main-content h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding-top: 60px;
  margin-top: -50px;
}
.main-content h1 {
  border-bottom: 1px solid #22ae63;
  margin-top: -30px;
}

.header-link {
  color: #333;
  font-size: 30px;
  margin: 0 10px 0 -42px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
h1:hover .header-link, h1:active .header-link, h1:focus .header-link,
h2:hover .header-link, h2:active .header-link, h2:focus .header-link,
h3:hover .header-link, h3:active .header-link, h3:focus .header-link,
h4:hover .header-link, h4:active .header-link, h4:focus .header-link {
  opacity: 1;
}

@media only screen and (max-width: 560px) {
  .header-link {
    margin: 0;
    padding-right: 10px;
    opacity: 1;
  }
}



/*
 * Homepage
 */
.homepage-header .homepage-header-contents {
  margin: 3rem auto 0;
  padding: 3rem;
  text-align: center;
}

/* Fancy call to action button on homepage
Based on https://codepen.io/wintr/pen/beBJBb */
.hompage-cta-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:2rem;
}
.hompage-cta {
  width: 100px;
  height: 100px;
  line-height: 20px;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s all ease;
  font-size: 14px;
  color: #22ae63;
  font-weight: bold;
}
.hompage-cta:after {
  transition: 0.3s all ease;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  border: 2px solid #22ae63;
}
.hompage-cta:before {
  content: '';
  position: absolute;
  border-radius: 3px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #eeeeee;
  z-index: -1;
  transition: 0.3s all ease;
}
.hompage-cta:hover,
.hompage-cta:focus {
  color: #22ae63;
  text-decoration: none;
  letter-spacing: 1.5px;
}
.hompage-cta:hover:after,
.hompage-cta:focus:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hompage-cta:active {
  -webkit-transform: scale(1);
  transform: scale(1);
  color: #fff;
}
.hompage-cta:active:before {
  background-color: #22ae63;
}
.hompage-cta:active:after {
  border-color: #22ae63;
}


.homepage-intro {
  background-color: #22ae63;
}
.homepage-intro .container .row div {
  color: #ffffff;
  text-align: center;
}

.homepage-feature-boxes .card-title {
  text-align: center;
}
.homepage-feature-boxes p {
  font-size: 0.9rem;
}

.homepage-usedby {
  position: relative;
  display: block;
  color: #ffffff;
}
.homepage-usedby h2, .homepage-usedby h2 a {
  color: #ffffff;
  text-decoration: none;
}
.homepage-usedby p, .homepage-usedby p a {
  color: rgba(255,255,255,0.8);
}
.homepage-usedby::before {
  content: "";
  background: #000000;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: -2;
}
.homepage-usedby::after {
  content: "";
  background: url('../img/flowcell.jpg') no-repeat;
  background-attachment: fixed;
  opacity: 0.8;
  background-size: cover;
  background-position: right top;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: -1;
}
.homepage-usedby img {
  height: 80px;
  max-width: 100%;
  margin: 1rem 2rem 1rem 0;
}
@media (max-width: 576px) {
  .homepage-usedby img {
    height: 50px;
    max-width: 120px;
    margin: 0.5rem 1rem 0.5rem 0;
  }
}



/*
 * Pipelines
 */

.pipelines-toolbar .pipeline-filters input {
  max-width: 10rem;
}
.pipelines-toolbar .btn.active {
  opacity: 0.8;
}
.pipelines-toolbar .btn-outline-success:not(.active):not(:disabled):not(.disabled):hover {
  background-color: transparent;
  color: #22ae63;
}
.pipelines-toolbar .btn-outline-success.active:not(:disabled):not(.disabled):hover {
  background-color: #229b5a;
  color: #fff;
}
.pipeline .card-title {
  margin-top: 0;
  padding-top: 0;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}
.pipeline .stargazers {
  float: right;
  font-size: 0.8rem;
  color: #999;
}
.pipeline .stargazers .far {
  color: #DAA520;
}
.pipeline .stargazers:hover {
  color: #DAA520;
  text-decoration: none;
}
.pipeline .stargazers:hover i {
  font-weight: 900; /* Filled star instead of empty */
}
.pipeline .status-icon {
  opacity: 0.5;
  cursor: help;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.pipeline .status-icon:hover {
  opacity: 1;
}
.pipeline .card-text {
  font-size: 0.9rem;
}
.pipeline .pipeline-topic {
  background-color: #f8f9fa;
  color: #159957;
  font-weight: 400;
}

/*
  About Page
*/
.main-content .contributor h5, .main-content .contributor h6 {
  margin: 0 0 0.5rem;
  padding: 0;
}
.contributor h5 a {
  color: #159957;
}
.contributor_logo {
  height: 60px;
  padding-left: 5px;
  float:right;
}
.contributor .badge {
    font-weight: normal;
}

.contributors-map-card {
  height: 300px;
  margin-bottom: 2rem;
}
.contributor_map_logo {
  height: 45px;
  margin-top: .25rem;
}
