---
import PageLayout from '@layouts/PageLayout.astro';
import SchemaListing from '@components/schema/SchemaListing.svelte';

const id = Astro.url.searchParams.get('id');
let schemaData = {};
if (id) {
    schemaData = await fetch(Astro.url.origin + '/.netlify/functions/process_schema?id=' + id, {
        method: 'GET',
    }).then(async (res) => {
        const data = await res.json();
        return data.data.schema;
    });
}

export const prerender = false;
---

<PageLayout title=" Schema Builder" subtitle="Create or modify your `nextflow_schema.json` file.">
    Finished editing schema!
    <a href={`/schema_builder?id=${id}`} class="btn btn-secondary">Back to editor</a>
    <SchemaListing schema={schemaData} client:load />
</PageLayout>
