---
import '@fontsource/maven-pro';
import '@fontsource/inter';
import 'bootstrap/dist/css/bootstrap.min.css';
import '../styles/main.scss';
---

<html lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
    </head>

    <body>
        <slot />
    </body>
</html>
