name: Check Markdown links

on:
  push:
    paths:
    - '**.md'
  pull_request:
    paths:
    - '**.md'
  workflow_dispatch:

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 1
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: 'yes'
        config-file: '.github/mlc_config.json'
