name: Generate images for docs
on:
  workflow_dispatch:
jobs:
  rich_codex:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          # Use @nf-core-bot token to check out so we can push without a PR
          token: ${{ secrets.NF_CORE_BOT_AUTH_TOKEN }}

      # Add Node.js setup step
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "24"

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: 3.14

      - name: Remove type:module from package.json
        run: |
          if [ -f "$GITHUB_WORKSPACE/package.json" ]; then
            sed -i '/"type": "module"/d' "$GITHUB_WORKSPACE/package.json"
            echo "Removed type:module from package.json"
          fi

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v2

      - name: Install nf-test
        uses: nf-core/setup-nf-test@v1

      - name: Install nf-core/tools
        run: pip install nf-core

      - name: Generate terminal images with rich-codex
        uses: ewels/rich-codex@80de9de011c994f32274bb4cffee140567621d8e # v1
        env:
          COLUMNS: 100
          HIDE_PROGRESS: "true"
          NXF_ANSI_LOG: false
        with:
          commit_changes: "true"
          terminal_width: 100
          skip_git_checks: "true"
          search_include: ".github/workflows/rich-codex.yml"

      - name: Restore package.json
        run: |
          git checkout "$GITHUB_WORKSPACE/package.json"
